---

import Page from "../../components/Page.astro";
import Button from "../../components/ui/Button.astro";
import H2 from "../../components/ui/h2.astro";
import Paragraph from "../../components/ui/Paragraph.astro";

const faqs = [
    {
        question: "What is Astro?",
        answer: "Astro is a modern front-end framework for building fast, content-focused websites."
    },
    {
        question: "Why use Tailwind CSS?",
        answer: "Tailwind CSS is a utility-first CSS framework that allows for rapid UI development."
    },
    {
        question: "Why use Tailwind CSS?",
        answer: "Tailwind CSS is a utility-first CSS framework that allows for rapid UI development."
    },



];

const inputs2 = [
    {
        id: 0,
        label: '',
        placeholder: 'Imię',
        type: 'text',
        name:'name',
        class: 'bg-transparent border-b pl-0 mb-4 border-black text-neutral-500 rounded-none text-sm font-normal font-[Gilroy] leading-none  focus:ring-orange focus:border-orange w-full p-2.5',
        required: 'required'
    },
    {
        id: 1,
        label: '',
        placeholder: 'Nazwisko',
        type: 'text',
        name:'name',
        class: 'bg-transparent border-b pl-0 mb-4 border-black text-neutral-500 rounded-none text-sm font-normal font-[Gilroy] leading-none  focus:ring-orange focus:border-orange w-full p-2.5',
        required: 'required'
    },
    {
        id: 2,
        label: '',
        placeholder: 'Adres e-mail',
        type: 'email',
        name:'name',
        class: 'bg-transparent border-b pl-0 mb-4 border-black text-neutral-500 rounded-none text-sm font-normal font-[Gilroy] leading-none  focus:ring-orange focus:border-orange w-full p-2.5',
        required: 'required'
    },

    {
        id: 4,
        label: '',
        placeholder:'Telefon',
        type: 'text',
        name:'name',
        class: 'bg-transparent border-b pl-0 mb-4 border-black  text-neutral-500 rounded-none text-sm font-normal font-[Gilroy] leading-none  focus:ring-orange focus:border-orange w-full p-2.5',
        required: 'required'
    },
    {
        id: 5,
        label: 'Napisz czego Ci potrzeba',
        type: 'text-field',
        name:'name',
        class: 'bg-transparent border mt-4 h-[200px] border-black text-gray-500 h-28 rounded-lg border border-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5',
        required: 'required'
    },


];


function toggleSign(event) {
    const summary = event.currentTarget;
    const details = summary.parentElement;
    const isExpanded = details.hasAttribute('open');
    summary.querySelector('.sign').textContent = isExpanded ? '+' : '-';
}

const inputs = [
    {
        id: 0,
        label: '',
        placeholder: 'Imię',
        type: 'text',
        name:'name',
        class: 'bg-transparent border-b pl-0 mb-4 border-black text-neutral-500 rounded-none text-sm font-normal font-[Gilroy] leading-none  focus:ring-orange focus:border-orange w-full p-2.5',
        required: 'required'
    },
    {
        id: 1,
        label: '',
        placeholder: 'Nazwisko',
        type: 'text',
        name:'name',
        class: 'bg-transparent border-b pl-0 mb-4 border-black text-neutral-500 rounded-none text-sm font-normal font-[Gilroy] leading-none  focus:ring-orange focus:border-orange w-full p-2.5',
        required: 'required'
    },
    {
        id: 2,
        label: '',
        placeholder: 'Adres e-mail',
        type: 'email',
        name:'name',
        class: 'bg-transparent border-b pl-0 mb-4 border-black text-neutral-500 rounded-none text-sm font-normal font-[Gilroy] leading-none  focus:ring-orange focus:border-orange w-full p-2.5',
        required: 'required'
    },
    {
        id: 3,
        label:'',
        placeholder: 'Data',
        type: 'select',
        name:'name',
        class: 'bg-transparent border-b pl-0 mb-4 border-black text-neutral-500 rounded-none text-sm font-normal font-[Gilroy] leading-none  focus:ring-orange focus:border-orange w-full p-2.5',
        required: 'required'
    },
    {
        id: 4,
        label: '',
        placeholder:'Godzina',
        type: 'text',
        name:'name',
        class: 'bg-transparent border-b pl-0 mb-4 border-black text-neutral-500 rounded-none text-sm font-normal font-[Gilroy] leading-none  focus:ring-orange focus:border-orange w-full p-2.5',
        required: 'required'
    },



];

const about = [
    {
        id: 0,
        title: 'Spersonalizowane dawkowanie',
        description: 'Dowiedz się, jak dostosować dawkowanie Hepawit do specyficznych potrzeb Twojej hodowli.',
    },
    {
        id: 1,
        title: 'Strategie żywieniowe',
        description: 'Zdobądź wskazówki dotyczące optymalizacji diety Twoich krów, aby maksymalizować ich wydajność i zdrowie.',
    },
    {
        id: 2,
        title: 'Rozwiązania dla problemów hodowlanych',
        description: 'Skonsultuj się z nami w sprawie specyficznych wyzwań w Twojej hodowli i dowiedz się, jak HEPAWIT może pomóc w ich rozwiązaniu.',
    },



]

const korzysci = [
    {
        id: 0,
        title: 'Rozwiązania dla problemów hodowlanych',
        description: 'Odpowiadamy na potrzeby rolników, udostępniając im szeroką ofertę produktów i usług z najwyższej półki.',
        image: 'src/assets/IMG/Group 62.svg',
    },
    {
        id: 1,
        title: 'Rozwiązania dla problemów hodowlanych',
        description: 'Wdrażamy zindywidualizowane rozwiązania, które są pieczołowicie dobierane do specyfiki konkretnego agrobiznesu..',
        image: 'src/assets/IMG/Group 62.svg',
    },
    {
        id: 2,
        title: 'Rozwiązania dla problemów hodowlanych',
        description: 'Łączymy najwyższą jakość surowców z aktualną wiedzą naukową i najnowszymi zdobyczami techniki..',
        image: 'src/assets/IMG/Group 62.svg',
    },

    {
        id: 3,
        title: 'Rozwiązania dla problemów hodowlanych korzysci',
        description: 'Stwarzamy nowe możliwości dla agrobiznesu, by w pełni wykorzystać potencjał każdego ambitnego właściciela gospodarstwa rolnego.',
        image: 'src/assets/IMG/Group 62.svg',
    },


]
---




<Page>
    <section class="bg-green text-white">
        <div class="mx-auto ">
            <div class=" flex flex-wrap  w-full">
                <div class="order-1 md:order-0 flex  items-center  lg:justify-center w-full min-h-[50%] md:w-3/5 lg:h-100vh  p-12 bg-red">
                    <div class="lg:absolute lg:pl-10 xl:pl-0 left-0 text-center lg:text-left right-0 mx-auto max-w-[1400px] w-full lg:pr-36">
                        <h1 class=" w-full lg:w-3/5 text-neutral-900 text-white mb-6 text-[20px] lg:text-[64px] font-bold font-['Gilroy']">
                            Odkryj nową erę w hodowli bydła mlecznego z HEPAWIT!
                        </h1>
                        <p class="  lg:w-2/5 mb-6 text-neutral-900  text-white text-base font-normal font-['Gilroy'] leading-[17.60px]">
                            <b>Hepawit</b> to innowacyjny dodatek paszowy zaprojektowany z myślą o optymalizacji zdrowia
                            i produktywności Twoich krów. <br><br>Bazując na zaawansowanych badaniach i składnikach najwyższej jakości, Hepawit oferuje natychmiastowe zwiększenie wydajności mlecznej, jednocześnie dbając
                            o dobrostan zwierząt.
                        </p>
                        <Button type="fullorange-f-w">Kup teraz</Button>
                    </div>

                </div>
                <div class="order-0 relative md:order-1 w-full md:w-2/5 bg-center relative bg-no-repeat bg-cover h-fit  lg:h-100vh" style="background-image: url('public/img/333.jpg')">
                    <div class="order-0 md:order-1 lg:absolute flex items-center bg-cover lg:left:1/2 lg:transform lg:-translate-x-1/2   lg:translate-y-1/2    w-50 md:w-1/2 xl:w-3/5 bg-center bg-no-repeat bg-cover  lg:h-1/2" style="background-image: url('')">
                        <img src="public/img/hepavit.png" >
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section id="konsultacja" class=" mx-auto bg-zinc-50 w-full text-white px-12 lg:px-0 py-12">
        <div class="mx-auto max-w-[1400px]  w-full ">
            <div class=" flex flex-wrap  w-full">
                <div class="order-1 md:order-0 flex  items-center  justify-center w-full min-h-[50%] md:w-3/5  lg:py-12 lg:pr-12">
                    <div class=" w-full h-full bg-cover	bg-center bg-cover	" style="background-image: url('public/img/image17.jpg')">
                        <!-- Zawartość wewnętrznego diva -->
                    </div>

                </div>
                <div class="order-0 relative md:order-1 w-full md:w-2/5 bg-center relative bg-no-repeat bg-cover items-center">
                    <form className="max-w-md mx-auto mt-7 my-10">
                        <H2 type="small">Nasz doradca skontaktuje się
                            z Tobą, aby ustalić szczegóły. </H2>
                        <Paragraph type="light">Z <b>Hepawit</b>, lepsza przyszłość Twojej hodowli jest tylko jedną konsultacją dalej. Zacznij działać już dzisiaj! Kontaktujemy się najpóźniej w 12 h po zostawieniu wiadomości.</Paragraph>

                        <div className="mb-6 flex-wrap">
                            <div>
                                {inputs.map(input => (
                                        <label className=" bg-transparent border mt-4 h-[200px] border-black text-gray-900 h-28 rounded-lg border border-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" htmlFor={input.id}>
                                            {input.label}
                                        </label>
                                        <input
                                                type={input.type}
                                                id={input.id}
                                                name={input.name}
                                                className={input.class}
                                                required={input.required === 'required'}
                                                placeholder= {input.placeholder}

                                        />
                                ))}
                            </div>

                        </div>
                        <div class="flex justify-center flex-wrap">
                            <div class="mt-7">
                                <input type="checkbox"></input>
                                <label class="text-black"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius interdum quam nec feugiat.</label>
                            </div>
                            <div >
                                <Button type="fullorange-f-w-100" > Umów się na konsultację</Button>
                                <Button  type="fullblackoutline-f-w-100" > <svg class="mr-3" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.5172 12.2714C15.1279 11.866 14.6582 11.6492 14.1605 11.6492C13.6667 11.6492 13.1931 11.8619 12.7876 12.2674L11.5192 13.5318C11.4148 13.4756 11.3104 13.4234 11.2101 13.3712C11.0656 13.299 10.9291 13.2307 10.8127 13.1585C9.62452 12.4038 8.54473 11.4204 7.50909 10.1479C7.00733 9.51369 6.67014 8.97981 6.42528 8.43791C6.75444 8.13685 7.05951 7.82375 7.35655 7.52269C7.46895 7.4103 7.58134 7.29389 7.69374 7.18149C8.5367 6.33853 8.5367 5.24669 7.69374 4.40373L6.59789 3.30788C6.47345 3.18344 6.345 3.05499 6.22458 2.92654C5.98373 2.67767 5.73084 2.42076 5.46992 2.17992C5.08056 1.79456 4.61492 1.58984 4.1252 1.58984C3.63548 1.58984 3.16181 1.79456 2.7604 2.17992C2.75639 2.18393 2.75639 2.18393 2.75237 2.18795L1.38758 3.56478C0.873773 4.07859 0.580743 4.70479 0.516517 5.43134C0.420179 6.60346 0.765392 7.6953 1.03032 8.40981C1.68061 10.164 2.65202 11.7897 4.10111 13.5318C5.85929 15.6312 7.97473 17.289 10.3912 18.4571C11.3145 18.8946 12.5468 19.4125 13.9236 19.5008C14.0079 19.5048 14.0962 19.5088 14.1765 19.5088C15.1038 19.5088 15.8825 19.1756 16.4927 18.5133C16.4967 18.5053 16.5047 18.5013 16.5087 18.4932C16.7174 18.2404 16.9583 18.0115 17.2112 17.7667C17.3838 17.6021 17.5604 17.4295 17.733 17.2489C18.1304 16.8354 18.3391 16.3537 18.3391 15.86C18.3391 15.3622 18.1264 14.8846 17.721 14.4831L15.5172 12.2714ZM16.9543 16.4982C16.9503 16.4982 16.9503 16.5022 16.9543 16.4982C16.7977 16.6668 16.6372 16.8194 16.4646 16.988C16.2036 17.2368 15.9387 17.4977 15.6898 17.7908C15.2844 18.2243 14.8067 18.429 14.1805 18.429C14.1203 18.429 14.0561 18.429 13.9959 18.425C12.8037 18.3487 11.6958 17.8831 10.8649 17.4857C8.5929 16.3858 6.59789 14.8243 4.94006 12.8454C3.57125 11.1956 2.65604 9.67024 2.04991 8.03248C1.67659 7.03297 1.54011 6.25423 1.60033 5.51965C1.64047 5.05 1.8211 4.66063 2.15427 4.32746L3.52308 2.95865C3.71977 2.774 3.92851 2.67365 4.13323 2.67365C4.38612 2.67365 4.59083 2.82619 4.71929 2.95464C4.7233 2.95865 4.72731 2.96267 4.73133 2.96668C4.97619 3.19549 5.20901 3.43232 5.45387 3.68521C5.5783 3.81366 5.70676 3.94211 5.83521 4.07457L6.93106 5.17043C7.35655 5.59592 7.35655 5.9893 6.93106 6.4148C6.81465 6.53121 6.70225 6.64762 6.58584 6.76001C6.24866 7.10522 5.92753 7.42635 5.5783 7.73945C5.57028 7.74748 5.56225 7.75149 5.55823 7.75952C5.21302 8.10474 5.27725 8.44192 5.3495 8.67072C5.35351 8.68277 5.35753 8.69481 5.36154 8.70685C5.64654 9.39728 6.04795 10.0476 6.6581 10.8223L6.66211 10.8263C7.77001 12.1911 8.93811 13.2548 10.2266 14.0697C10.3912 14.1741 10.5598 14.2584 10.7204 14.3386C10.8649 14.4109 11.0014 14.4791 11.1178 14.5514C11.1338 14.5594 11.1499 14.5715 11.1659 14.5795C11.3024 14.6477 11.4309 14.6798 11.5633 14.6798C11.8965 14.6798 12.1052 14.4711 12.1735 14.4029L13.5463 13.03C13.6828 12.8936 13.8995 12.729 14.1524 12.729C14.4013 12.729 14.606 12.8855 14.7305 13.022C14.7345 13.026 14.7345 13.026 14.7385 13.03L16.9503 15.2418C17.3637 15.6513 17.3637 16.0727 16.9543 16.4982Z" fill="black"/>
                                    <path d="M10.7654 5.01446C11.8171 5.19108 12.7724 5.68883 13.5351 6.45151C14.2978 7.21419 14.7915 8.16955 14.9722 9.22124C15.0163 9.48617 15.2451 9.67082 15.5061 9.67082C15.5382 9.67082 15.5663 9.66681 15.5984 9.66279C15.8954 9.61462 16.0921 9.33364 16.0439 9.03659C15.8272 7.76412 15.2251 6.60405 14.3058 5.68482C13.3866 4.76559 12.2265 4.16347 10.9541 3.94671C10.657 3.89854 10.38 4.09523 10.3279 4.38826C10.2757 4.68129 10.4683 4.96629 10.7654 5.01446Z" fill="black"/>
                                    <path d="M19.4835 8.87995C19.1263 6.78458 18.1388 4.87788 16.6215 3.36055C15.1042 1.84322 13.1975 0.855751 11.1021 0.498496C10.8091 0.446313 10.5321 0.647018 10.4799 0.940048C10.4317 1.23709 10.6284 1.51406 10.9255 1.56625C12.796 1.88336 14.502 2.77048 15.8588 4.12323C17.2156 5.48 18.0987 7.186 18.4158 9.05657C18.4599 9.3215 18.6888 9.50615 18.9497 9.50615C18.9818 9.50615 19.0099 9.50213 19.042 9.49812C19.335 9.45396 19.5357 9.17298 19.4835 8.87995Z" fill="black"/>
                                </svg>
                                    Porozmawiaj z doradcą
                                </Button>

                            </div>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </section>


    <section class="py-12">
        <div class="mx-auto ">
            <div class=" flex flex-wrap  w-full">
                <div class="order-1 md:order-0 flex  items-center bg-center justify-center w-full min-h-[60vh] md:w-3/5  bg-cover	 p-12 " style="background-image: url('public/img/333.jpg')">


                </div>
                <div class="order-0 relative md:order-1 w-full md:w-2/5 bg-center relative bg-no-repeat bg-cover h-auto p-12 flex  flex-wrap  justify-center items-center " >

                    <div class="lg:w-3/5">
                        <h2 class=" text-neutral-900 text-black  mb-6 text-[20px] lg:text-[44px] font-bold font-['Gilroy']">
                            Dlaczego HEPAWIT?
                        </h2>
                        <p class="mb-6 text-neutral-900  text-black text-base font-normal font-['Gilroy'] leading-[17.60px]">
                            <b>Hepawit</b> to innowacyjny dodatek paszowy zaprojektowany z myślą o optymalizacji zdrowia
                            i produktywności Twoich krów. <br><br>Bazując na zaawansowanych badaniach i składnikach najwyższej jakości, Hepawit oferuje natychmiastowe zwiększenie wydajności mlecznej, jednocześnie dbając
                            o dobrostan zwierząt.
                        </p>
                        <Button type="fullorange-f-w">Kup teraz</Button>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section class="px-12 lg:px-0 py-12">
        <div class="mx-auto max-w-[1400px]  w-full ">
            <h2 class=" text-neutral-900 text-black  text-[30px] lg:text-[44px] font-bold font-['Gilroy']">
                Odkryj jak Hepawit<br> może Ci pomóc: </h2>
            <div class="flex flex-wrap">

                <div class="w-full lg:w-2/5">
                    {about.map((slide, index) => (
                            <div className={`  flex flex-wrap  'flex-row' : 'md:flex-row-reverse'}`}>
                                <div className={` w-full   md:w-[90%]   flex items-center justify-start  ${index % 2 === 0 ? ' ' : '  md:-order-1 '}`}>
                                    <div class="md:w-[329px]  flex-col justify-start items-start gap-2 inline-flex">
                                        <p class="text-orange  text-[20px] lg:text-[32px] font-normal font-['Gilroy'] uppercase leading-loose">{String(index + 1).padStart(2, '0')}</p>
                                        <p class="text-black text-xl md:text-2xl  font-bold  font-['Gilroy']">{slide.title}</p>
                                        <p class="text-black text-xl md:text-base font-normal font-['Gilroy']">{slide.description}</p>

                                    </div>
                                </div>
                            </div>
                    ))}
                </div>
                <div class="w-full lg:w-3/5 mt-6 lg:mt-0 lg:shadow-md lg:rounded-tl-lg lg:rounded-bl-lg lg:rounded-bl-[50px]  lg:rounded-tl-[50px]  p-3 lg:p-12">
                    <h3 class="pb-6">Wyniki wprowadzenia
                        100 g na krowę Hepawit </h3>
                    <img src="src/assets/IMG/Group 64.png">
                </div>
            </div>
        </div>

    </section>
    <section class=" bg-black py-12 ">
        <div class="mx-auto max-w-[1400px] px-6 lg:px-0 w-full ">
            <h2 class=" text-neutral-900 text-white  text-center text-[40px] lg:text-[44px] font-bold font-['Gilroy']">
                Kluczowe korzyści</h2>
            <div class="flex flex-wrap justify-center pt-12">
                {korzysci.map((korzysci, index) => (
                <div class="lg:w-1/5 mt-6 lg:mt-0">

                            <div className={`  flex flex-wrap  'flex-row' : 'md:flex-row-reverse'}`}>
                                <div className={` w-full   md:w-[90%]   flex items-center justify-start  ${index % 2 === 0 ? ' ' : '  md:-order-1 '}`}>
                                    <div class="md:w-[329px]  flex justify-center items-start gap-2 flex-wrap">
                                        <img src={korzysci.image} class="w-[60px] h-[60px]">
                                        <p class="text-white text-center text-2xl pt-6 md:text-xl  font-bold  font-['Gilroy']">{korzysci.title}</p>
                                        <p class="text-white  text-center text-xl pt-6 md:text-base font-normal font-['Gilroy']">{korzysci.description}</p>

                                    </div>
                                </div>
                            </div>

                </div>
                ))}
            </div>
            <div class="pt-6 text-center">
                <h3 class="text-white  text-center text-xl pt-6 md:text-4xl font-bold font-['Gilroy']">Dawkowanie </h3>
                <p class="text-white text-center text-sm font-bold">Faza przygotowania do laktacji: <span class="font-light">100g</span></p>
                <p class="text-white text-center text-sm font-bold">   Okres laktacji: 50-200g <span class="font-light">(dostosowane do indywidualnych potrzeb)</span></p>
                <Button type="fullorange-f-w">Skontaktuj się z doradcą </Button>

            </div>
        </div>

    </section>


    <section class="bg-orange text-white">
        <div class="mx-auto ">
            <div class=" flex flex-wrap  w-full">
                <div class="order-1 md:order-0 flex  items-center  justify-center w-full min-h-[50%] md:w-1/2 lg:h-100vh  p-12 bg-red">
                    <div class="lg:absolute lg:pl-10 xl:pl-0 left-0 text-center lg:text-left right-0 mx-auto max-w-[1400px] w-full lg:pr-36">
                        <h2 class="lg:w-2/5 text-neutral-900 text-black mb-6 text-[30px] lg:text-[34px] font-bold font-['Gilroy']">
                            Inwestycja w przyszłość Twojej hodowli
                        </h2>
                        <p class="lg:w-2/5 mb-6 text-neutral-900  text-black text-base font-normal font-['Gilroy'] leading-[17.60px]">
                            Z <b>Hepawit</b>, nie tylko zwiększysz wydajność mleczną, ale także poprawisz ogólną zdrowotność Twoich krów. Dzięki optymalizacji składu mleka, zwiększeniu zawartości białka i tłuszczu, a także możliwości obniżenia zawartości białka w diecie. <br><br>
                            <b>Hepawit</b> jest inwestycją, która szybko się zwraca, oferując jednocześnie długoterminowe korzyści dla Twojej hodowli.
                        </p>
                    </div>

                </div>
                <div class="order-0 relative md:order-1 w-full md:w-1/2 bg-center relative bg-no-repeat bg-cover h-fit  lg:h-100vh" style="background-image: url('public/img/333.jpg')">
                    <div class="order-0 md:order-1 lg:absolute flex items-center lg:left:1/2 lg:transform lg:-translate-x-1/2   lg:translate-y-1/2    w-50 md:w-1/2 xl:w-3/5 bg-center bg-no-repeat bg-cover  lg:h-1/2" style="background-image: url('')">
                        <img src="public/img/hepavit.png" >
                    </div>
                </div>

            </div>

        </div>
    </section>



    <section class="py-12">
        <div class="mx-auto ">
            <div class=" flex flex-wrap  w-full">
                <div class="order-1 md:order-0 flex  items-center  justify-center w-full min-h-[60vh] md:w-3/5  p-12 bg-cover	 " style="background-image: url('public/img/333.jpg')">


                </div>
                <div class="order-0 relative md:order-1 w-full md:w-2/5 bg-center relative bg-no-repeat bg-cover h-auto p-12 flex  flex-wrap  justify-center items-center " >

                    <div class="w-full lg:w-3/5">
                        <h2 class=" text-neutral-900 text-black  mb-6 text-[40px] lg:text-[44px] font-bold font-['Gilroy']">
                            Umów się na konsultację
                        </h2>
                        <p class="mb-6 text-neutral-900  text-black text-base font-normal font-['Gilroy'] leading-[17.60px]">
                            Zacznij optymalizować hodowlę z Hepawit.
                            Przejście na Hepawit to pierwszy krok do rewolucji
                            w Twojej hodowli bydła mlecznego. Wiemy, że każda farma jest unikatowa
                            i każdy hodowca ma indywidualne potrzeby oraz cele. Dlatego zapraszamy Cię do skorzystania z bezpłatnej konsultacji z naszym doświadczonym doradcą ds. żywienia zwierząt.
                        </p>
                        <p class="mb-6 text-neutral-900  text-black text-base font-normal font-['Gilroy'] leading-[17.60px]">
                            Nie czekaj, aż Twoje krowy przestaną spełniać oczekiwania. Skontaktuj się z nami, aby umówić się na bezpłatną konsultację i dowiedzieć się więcej o tym, jak Hepawit może przynieść rewolucję w Twojej hodowli.
                        </p>
                        <Button type="orange">Umów się teraz</Button>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section id="kup" class=" mx-auto bg-lightorange w-full text-white px-12 lg:px-0 py-12">
        <div class="mx-auto max-w-[1400px]  w-full ">
            <div class=" flex flex-wrap  w-full">
                <div class="order-1 md:order-0 flex  items-center justify-center w-full min-h-[50%] md:w-3/5  py-12 lg:pr-12">
                    <div class="w-full h-[200px] lg:h-full bg-cover bg-center " style="background-image: url('public/img/image17.jpg')">
                        <!-- Zawartość wewnętrznego diva -->
                    </div>

                </div>
                <div class="order-0 relative md:order-1 w-full md:w-2/5 bg-center relative bg-no-repeat bg-cover items-center">
                    <form className="max-w-md mx-auto mt-7 my-10">
                        <H2 type="small">Zacznij teraz. </H2>
                        <Paragraph type="light">Zwiększ wydajność i zdrowie swoich krów już dziś, wybierając Hepawit. Skontaktuj się
                            z nami, aby dowiedzieć się więcej o tym, jak możemy wspomóc rozwój Twojej hodowli.</Paragraph>

                        <div className="mb-6 flex-wrap">
                            <div>
                                {inputs2.map(input => (
                                        <label className=" bg-transparent border mt-4 h-[200px] border-black text-gray-900 h-28 rounded-lg border border-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" htmlFor={input.id}>
                                            {input.label}
                                        </label>
                                        <input
                                                type={input.type}
                                                id={input.id}
                                                name={input.name}
                                                className={input.class}
                                                required={input.required === 'required'}
                                                placeholder= {input.placeholder}

                                        />
                                ))}
                            </div>

                        </div>
                        <p class="text-black text-[20px] pt-6">Nasz handlowiec skontaktuje sie z Tobą w ciagu 12 h i przedstawi Ci ofertę</p>

                        <div class="flex justify-center flex-wrap">

                            <div class="mt-7">
                                <input type="checkbox"></input>
                                <label class="text-black"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius interdum quam nec feugiat.</label>
                            </div>
                            <div >
                                <Button  type="fullorange-f-w-100" > Zapytaj o produkt</Button>
                                <Button  type="fullblackoutline-f-w-100" > <svg class="mr-3" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.5172 12.2714C15.1279 11.866 14.6582 11.6492 14.1605 11.6492C13.6667 11.6492 13.1931 11.8619 12.7876 12.2674L11.5192 13.5318C11.4148 13.4756 11.3104 13.4234 11.2101 13.3712C11.0656 13.299 10.9291 13.2307 10.8127 13.1585C9.62452 12.4038 8.54473 11.4204 7.50909 10.1479C7.00733 9.51369 6.67014 8.97981 6.42528 8.43791C6.75444 8.13685 7.05951 7.82375 7.35655 7.52269C7.46895 7.4103 7.58134 7.29389 7.69374 7.18149C8.5367 6.33853 8.5367 5.24669 7.69374 4.40373L6.59789 3.30788C6.47345 3.18344 6.345 3.05499 6.22458 2.92654C5.98373 2.67767 5.73084 2.42076 5.46992 2.17992C5.08056 1.79456 4.61492 1.58984 4.1252 1.58984C3.63548 1.58984 3.16181 1.79456 2.7604 2.17992C2.75639 2.18393 2.75639 2.18393 2.75237 2.18795L1.38758 3.56478C0.873773 4.07859 0.580743 4.70479 0.516517 5.43134C0.420179 6.60346 0.765392 7.6953 1.03032 8.40981C1.68061 10.164 2.65202 11.7897 4.10111 13.5318C5.85929 15.6312 7.97473 17.289 10.3912 18.4571C11.3145 18.8946 12.5468 19.4125 13.9236 19.5008C14.0079 19.5048 14.0962 19.5088 14.1765 19.5088C15.1038 19.5088 15.8825 19.1756 16.4927 18.5133C16.4967 18.5053 16.5047 18.5013 16.5087 18.4932C16.7174 18.2404 16.9583 18.0115 17.2112 17.7667C17.3838 17.6021 17.5604 17.4295 17.733 17.2489C18.1304 16.8354 18.3391 16.3537 18.3391 15.86C18.3391 15.3622 18.1264 14.8846 17.721 14.4831L15.5172 12.2714ZM16.9543 16.4982C16.9503 16.4982 16.9503 16.5022 16.9543 16.4982C16.7977 16.6668 16.6372 16.8194 16.4646 16.988C16.2036 17.2368 15.9387 17.4977 15.6898 17.7908C15.2844 18.2243 14.8067 18.429 14.1805 18.429C14.1203 18.429 14.0561 18.429 13.9959 18.425C12.8037 18.3487 11.6958 17.8831 10.8649 17.4857C8.5929 16.3858 6.59789 14.8243 4.94006 12.8454C3.57125 11.1956 2.65604 9.67024 2.04991 8.03248C1.67659 7.03297 1.54011 6.25423 1.60033 5.51965C1.64047 5.05 1.8211 4.66063 2.15427 4.32746L3.52308 2.95865C3.71977 2.774 3.92851 2.67365 4.13323 2.67365C4.38612 2.67365 4.59083 2.82619 4.71929 2.95464C4.7233 2.95865 4.72731 2.96267 4.73133 2.96668C4.97619 3.19549 5.20901 3.43232 5.45387 3.68521C5.5783 3.81366 5.70676 3.94211 5.83521 4.07457L6.93106 5.17043C7.35655 5.59592 7.35655 5.9893 6.93106 6.4148C6.81465 6.53121 6.70225 6.64762 6.58584 6.76001C6.24866 7.10522 5.92753 7.42635 5.5783 7.73945C5.57028 7.74748 5.56225 7.75149 5.55823 7.75952C5.21302 8.10474 5.27725 8.44192 5.3495 8.67072C5.35351 8.68277 5.35753 8.69481 5.36154 8.70685C5.64654 9.39728 6.04795 10.0476 6.6581 10.8223L6.66211 10.8263C7.77001 12.1911 8.93811 13.2548 10.2266 14.0697C10.3912 14.1741 10.5598 14.2584 10.7204 14.3386C10.8649 14.4109 11.0014 14.4791 11.1178 14.5514C11.1338 14.5594 11.1499 14.5715 11.1659 14.5795C11.3024 14.6477 11.4309 14.6798 11.5633 14.6798C11.8965 14.6798 12.1052 14.4711 12.1735 14.4029L13.5463 13.03C13.6828 12.8936 13.8995 12.729 14.1524 12.729C14.4013 12.729 14.606 12.8855 14.7305 13.022C14.7345 13.026 14.7345 13.026 14.7385 13.03L16.9503 15.2418C17.3637 15.6513 17.3637 16.0727 16.9543 16.4982Z" fill="black"/>
                                    <path d="M10.7654 5.01446C11.8171 5.19108 12.7724 5.68883 13.5351 6.45151C14.2978 7.21419 14.7915 8.16955 14.9722 9.22124C15.0163 9.48617 15.2451 9.67082 15.5061 9.67082C15.5382 9.67082 15.5663 9.66681 15.5984 9.66279C15.8954 9.61462 16.0921 9.33364 16.0439 9.03659C15.8272 7.76412 15.2251 6.60405 14.3058 5.68482C13.3866 4.76559 12.2265 4.16347 10.9541 3.94671C10.657 3.89854 10.38 4.09523 10.3279 4.38826C10.2757 4.68129 10.4683 4.96629 10.7654 5.01446Z" fill="black"/>
                                    <path d="M19.4835 8.87995C19.1263 6.78458 18.1388 4.87788 16.6215 3.36055C15.1042 1.84322 13.1975 0.855751 11.1021 0.498496C10.8091 0.446313 10.5321 0.647018 10.4799 0.940048C10.4317 1.23709 10.6284 1.51406 10.9255 1.56625C12.796 1.88336 14.502 2.77048 15.8588 4.12323C17.2156 5.48 18.0987 7.186 18.4158 9.05657C18.4599 9.3215 18.6888 9.50615 18.9497 9.50615C18.9818 9.50615 19.0099 9.50213 19.042 9.49812C19.335 9.45396 19.5357 9.17298 19.4835 8.87995Z" fill="black"/>
                                </svg>
                                    Zamów telefonicznie
                                </Button>

                            </div>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </section>




    <section class=" py-10 xl:py-20 w-full p-5 xl:p-0 mx-auto max-w-[1400px]">
        <h1 class="text-neutral-900 text-4xl lg:text-[44px] font-bold font-['Gilroy'] leading-[76.80px]">FAQ</h1>
        <div class="py-10 xl:py-20 ">
            {faqs.map((faq, index) => (
                    <details key={index} class="group border-b border-black-10 " onToggle={toggleSign}>
                        <summary class="text-lg py-[24px] 0 cursor-pointer font-semibold group-open:text-blue-600 flex justify-between">
                            <div class="text-black text-base font-bold font-['Gilroy'] leading-tight">{faq.question}</div><span class="text-[30px] font-normal sign text-orange">+</span>
                        </summary>
                        <p class="pt-2 pb-[24px] text-black text-base font-normal font-['Gilroy'] leading-tight">
                            {faq.answer}
                        </p>
                    </details>
            ))}
        </div>
    </section>

    <div class=" absolute bottom-10 drop-shadow-2xl  m-3 lg:right-10 lg:w-2/6 h-fit bg-orange rounded-[13px] p-5" id="consent">
        <svg class="w-[25px] absolute right-5 top-2.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 744.09 1052.4" version="1.1">
            <g id="layer1">
                <path id="path2989" d="m814.29 606.65a314.29 314.29 0 1 1 -628.57 0 314.29 314.29 0 1 1 628.57 0z" stroke="#000" stroke-width="5" transform="matrix(1.1048 0 0 1.1048 -179.21 -162.53)"/>
                <g id="g3763" transform="matrix(.91837 0 0 .91837 47.587 10.944)" stroke="#fff" stroke-linecap="round" stroke-width="133.87" fill="none">
                    <path id="path2991" d="m176.51 362.87 356.13 356.13"/>
                    <path id="path2993" d="m532.64 362.87-356.13 356.13"/>
                </g>
            </g>
        </svg>

        <svg width="113" height="28" viewBox="0 0 113 28" fill="none" xmlns="http://www.w3.org/2000/svg" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="9:114"> <g id="Group 31" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="10:22"> <path id="Vector" d="M112.86 12.5604V17.1126H107.659V22.3139H103.108V17.1126H97.9072V12.5604H103.108V7.36133H107.659V12.5604H112.86Z" fill="#FFF" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="11:10"></path> <path id="Vector_2" d="M26.5234 16.8038C26.5234 12.2495 30.1301 8.73584 34.6217 8.73584C39.1133 8.73584 42.72 12.2517 42.72 16.8038C42.72 21.356 39.1133 24.8719 34.6217 24.8719C30.1301 24.8719 26.5234 21.356 26.5234 16.8038ZM38.1376 16.8038C38.1376 14.6338 36.6101 13.1972 34.6217 13.1972C32.6334 13.1972 31.1081 14.6338 31.1081 16.8038C31.1081 18.9739 32.6356 20.4105 34.6217 20.4105C36.6079 20.4105 38.1376 18.9739 38.1376 16.8038Z" fill="black" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="12:10"></path> <path id="Vector_3" d="M49.903 2.13281H45.3184V24.4437H49.903V2.13281Z" fill="black" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="13:10"></path> <path id="Vector_4" d="M67.932 15.0592V24.4427H63.3474V15.7321C63.3474 13.8368 62.1552 12.9519 60.6883 12.9519C59.0072 12.9519 57.8454 13.9298 57.8454 16.0999V24.4427H53.2607V9.1613H57.8454V10.5979C58.6697 9.46637 60.1994 8.73291 62.2158 8.73291C65.3033 8.73291 67.932 10.9333 67.932 15.0592Z" fill="black" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="14:10"></path> <path id="Vector_5" d="M70.6221 5.06583C70.6221 3.56863 71.8748 2.31592 73.3741 2.31592C74.8735 2.31592 76.1241 3.56863 76.1241 5.06583C76.1241 6.56303 74.8713 7.81575 73.3741 7.81575C71.8769 7.81575 70.6221 6.56303 70.6221 5.06583ZM71.0807 9.1615H75.6654V24.4429H71.0807V9.1615Z" fill="black" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="15:10"></path> <path id="Vector_6" d="M88.4997 24.4428L83.61 17.6881V24.4428H79.0254V3.04932H83.61V15.8534L88.1947 9.16144H93.543L87.9805 16.8032L93.6945 24.4428H88.4997Z" fill="black" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="16:10"></path> <path id="Vector_7" d="M13.4924 27.5038H9.36649V20.5003C9.27345 18.6612 8.60058 16.9174 7.46902 15.5824C6.57114 14.5245 5.43742 13.7867 4.20634 13.434C4.41837 14.9918 5.04581 16.4544 6.03673 17.6205L2.88872 20.2904C0.744604 17.7612 -0.283099 14.3492 0.067402 10.9307L0.249143 9.16742L2.01896 9.08087C5.27299 8.91644 8.41235 10.3184 10.6149 12.9126C12.3414 14.9485 13.3626 17.5924 13.4903 20.3553V20.6928V27.5038H13.4924Z" fill="black" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="17:10"></path> <g id="Group" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="18:23"> <path id="Vector_8" d="M20.8273 0.496094H19.1398C13.7308 0.496094 9.36035 4.8687 9.36035 10.2755V24.3518H13.5036V10.2755C13.5036 7.16859 16.035 4.63719 19.1419 4.63719H21.444C21.3682 7.43687 21.0221 9.50742 19.4102 11.5412C18.9494 12.1167 18.4128 12.6533 17.8373 13.1531L16.6105 14.1505L21.3271 24.3907H25.8923L21.6344 15.1847C21.9805 14.8385 22.3245 14.4555 22.6318 14.0726C25.5851 10.3512 25.5851 6.36373 25.5851 2.56664V0.496094H20.8295H20.8273Z" fill="url(#paint0_radial_352_1047)" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="19:14"></path> <path id="Vector_9" d="M20.8273 0.496094H19.1398C13.7308 0.496094 9.36035 4.8687 9.36035 10.2755V24.3518H13.5036V10.2755C13.5036 7.16859 16.035 4.63719 19.1419 4.63719H21.444C21.3682 7.43687 21.0221 9.50742 19.4102 11.5412C18.9494 12.1167 18.4128 12.6533 17.8373 13.1531L16.6105 14.1505L21.3271 24.3907H25.8923L21.6344 15.1847C21.9805 14.8385 22.3245 14.4555 22.6318 14.0726C25.5851 10.3512 25.5851 6.36373 25.5851 2.56664V0.496094H20.8295H20.8273Z" fill="url(#paint1_radial_352_1047)" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="20:14"></path> </g> </g> <defs data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="23:11"> <radialGradient id="paint0_radial_352_1047" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(3.11598 20.0363) rotate(-41.26) scale(39.4826)" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="24:181"> <stop offset="0.19" stop-opacity="0" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="25:14"></stop> <stop offset="0.66" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="26:14"></stop> <stop offset="0.92" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="27:14"></stop> </radialGradient> <radialGradient id="paint1_radial_352_1047" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(28.5101 23.6128) rotate(-98.97) scale(22.1003 15.2875)" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="29:189"> <stop data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="30:14"></stop> <stop offset="0.44" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="31:14"></stop> <stop offset="0.83" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="32:14"></stop> <stop offset="1" stop-opacity="0" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="33:14"></stop> </radialGradient> </defs> </svg>
        <h5 class="mt-6 font-extrabold">Cookies</h5>
        <p class="mt-2 text-sm">Poprzez korzystanie z naszej strony internetowej wyrażasz zgodę na wykorzystanie plików cookies zgodnie z naszą polityką <b>prywatności.</b> </p>
        <Button type="black-consent" > OK</Button>
        <Button type="green-consent" > NIE ZGADZAM SIĘ</Button>

    </div>
</Page>
