---

import Page from "../../components/Page.astro";
import Button from "../../components/ui/Button.astro";
import H2 from "../../components/ui/h2.astro";
import Paragraph from "../../components/ui/Paragraph.astro";

const faqs = [
    {
        question: "What is Astro?",
        answer: "Astro is a modern front-end framework for building fast, content-focused websites."
    },
    {
        question: "Why use Tailwind CSS?",
        answer: "Tailwind CSS is a utility-first CSS framework that allows for rapid UI development."
    },
    {
        question: "Why use Tailwind CSS?",
        answer: "Tailwind CSS is a utility-first CSS framework that allows for rapid UI development."
    },



];

const inputs2 = [
    {
        id: 0,
        label: '',
        placeholder: 'Imię',
        type: 'text',
        name:'name',
        class: 'bg-transparent border-b pl-0 mb-4 border-black text-neutral-500 rounded-none text-sm font-normal font-[Gilroy] leading-none  focus:ring-orange focus:border-orange w-full p-2.5',
        required: 'required'
    },
    {
        id: 1,
        label: '',
        placeholder: 'Nazwisko',
        type: 'text',
        name:'name',
        class: 'bg-transparent border-b pl-0 mb-4 border-black text-neutral-500 rounded-none text-sm font-normal font-[Gilroy] leading-none  focus:ring-orange focus:border-orange w-full p-2.5',
        required: 'required'
    },
    {
        id: 2,
        label: '',
        placeholder: 'Adres e-mail',
        type: 'email',
        name:'name',
        class: 'bg-transparent border-b pl-0 mb-4 border-black text-neutral-500 rounded-none text-sm font-normal font-[Gilroy] leading-none  focus:ring-orange focus:border-orange w-full p-2.5',
        required: 'required'
    },

    {
        id: 4,
        label: '',
        placeholder:'Telefon',
        type: 'text',
        name:'name',
        class: 'bg-transparent border-b pl-0 mb-4 border-black  text-neutral-500 rounded-none text-sm font-normal font-[Gilroy] leading-none  focus:ring-orange focus:border-orange w-full p-2.5',
        required: 'required'
    },
    {
        id: 5,
        label: 'Napisz czego Ci potrzeba',
        type: 'text-field',
        name:'name',
        class: 'bg-transparent border mt-4 h-[200px] border-black text-gray-500 h-28 rounded-lg border border-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5',
        required: 'required'
    },


];


function toggleSign(event) {
    const summary = event.currentTarget;
    const details = summary.parentElement;
    const isExpanded = details.hasAttribute('open');
    summary.querySelector('.sign').textContent = isExpanded ? '+' : '-';
}

const inputs = [
    {
        id: 0,
        label: '',
        placeholder: 'Imię',
        type: 'text',
        name:'name',
        class: 'bg-transparent border-b pl-0 mb-4 border-black text-neutral-500 rounded-none text-sm font-normal font-[Gilroy] leading-none  focus:ring-orange focus:border-orange w-full p-2.5',
        required: 'required'
    },
    {
        id: 1,
        label: '',
        placeholder: 'Nazwisko',
        type: 'text',
        name:'name',
        class: 'bg-transparent border-b pl-0 mb-4 border-black text-neutral-500 rounded-none text-sm font-normal font-[Gilroy] leading-none  focus:ring-orange focus:border-orange w-full p-2.5',
        required: 'required'
    },
    {
        id: 2,
        label: '',
        placeholder: 'Adres e-mail',
        type: 'email',
        name:'name',
        class: 'bg-transparent border-b pl-0 mb-4 border-black text-neutral-500 rounded-none text-sm font-normal font-[Gilroy] leading-none  focus:ring-orange focus:border-orange w-full p-2.5',
        required: 'required'
    },
    {
        id: 3,
        label:'',
        placeholder: 'Data',
        type: 'select',
        name:'name',
        class: 'bg-transparent border-b pl-0 mb-4 border-black text-neutral-500 rounded-none text-sm font-normal font-[Gilroy] leading-none  focus:ring-orange focus:border-orange w-full p-2.5',
        required: 'required'
    },
    {
        id: 4,
        label: '',
        placeholder:'Godzina',
        type: 'text',
        name:'name',
        class: 'bg-transparent border-b pl-0 mb-4 border-black text-neutral-500 rounded-none text-sm font-normal font-[Gilroy] leading-none  focus:ring-orange focus:border-orange w-full p-2.5',
        required: 'required'
    },



];

const about = [
    {
        id: 0,
        title: 'Spersonalizowane dawkowanie',
        description: 'Dowiedz się, jak dostosować dawkowanie Hepawit do specyficznych potrzeb Twojej hodowli.',
    },
    {
        id: 1,
        title: 'Strategie żywieniowe',
        description: 'Zdobądź wskazówki dotyczące optymalizacji diety Twoich krów, aby maksymalizować ich wydajność i zdrowie.',
    },
    {
        id: 2,
        title: 'Rozwiązania dla problemów hodowlanych',
        description: 'Skonsultuj się z nami w sprawie specyficznych wyzwań w Twojej hodowli i dowiedz się, jak HEPAWIT może pomóc w ich rozwiązaniu.',
    },



]

const korzysci = [
    {
        id: 0,
        title: 'Rozwiązania dla problemów hodowlanych',
        description: 'Odpowiadamy na potrzeby rolników, udostępniając im szeroką ofertę produktów i usług z najwyższej półki.',
        image: 'src/assets/IMG/Group 62.svg',
    },
    {
        id: 1,
        title: 'Rozwiązania dla problemów hodowlanych',
        description: 'Wdrażamy zindywidualizowane rozwiązania, które są pieczołowicie dobierane do specyfiki konkretnego agrobiznesu..',
        image: 'src/assets/IMG/Group 62.svg',
    },
    {
        id: 2,
        title: 'Rozwiązania dla problemów hodowlanych',
        description: 'Łączymy najwyższą jakość surowców z aktualną wiedzą naukową i najnowszymi zdobyczami techniki..',
        image: 'src/assets/IMG/Group 62.svg',
    },

    {
        id: 3,
        title: 'Rozwiązania dla problemów hodowlanych korzysci',
        description: 'Stwarzamy nowe możliwości dla agrobiznesu, by w pełni wykorzystać potencjał każdego ambitnego właściciela gospodarstwa rolnego.',
        image: 'src/assets/IMG/Group 62.svg',
    },


]
---




<Page>
    <section class="bg-green text-white">
        <div class="mx-auto ">
            <div class=" flex flex-wrap  w-full">
                <div class="order-1 md:order-0 flex  items-center  lg:justify-center w-full min-h-[50%] md:w-3/5 lg:h-100vh  p-12 bg-red">
                    <div class="lg:absolute lg:pl-10 xl:pl-0 left-0 text-center lg:text-left right-0 mx-auto max-w-[1400px] w-full lg:pr-36">
                        <h1 class=" w-full lg:w-3/5 text-neutral-900 text-white mb-6 text-[20px] lg:text-[64px] font-bold font-['Gilroy']">
                            Odkryj nową erę w hodowli bydła mlecznego z HEPAWIT!
                        </h1>
                        <p class="  lg:w-2/5 mb-6 text-neutral-900  text-white text-base font-normal font-['Gilroy'] leading-[17.60px]">
                            <b>Hepawit</b> to innowacyjny dodatek paszowy zaprojektowany z myślą o optymalizacji zdrowia
                            i produktywności Twoich krów. <br><br>Bazując na zaawansowanych badaniach i składnikach najwyższej jakości, Hepawit oferuje natychmiastowe zwiększenie wydajności mlecznej, jednocześnie dbając
                            o dobrostan zwierząt.
                        </p>
                        <Button type="fullorange-f-w">Kup teraz</Button>
                    </div>

                </div>
                <div class="order-0 relative md:order-1 w-full md:w-2/5 bg-center relative bg-no-repeat bg-cover h-fit  lg:h-100vh" style="background-image: url('public/img/333.jpg')">
                    <div class="order-0 md:order-1 lg:absolute flex items-center lg:left:1/2 lg:transform lg:-translate-x-1/2   lg:translate-y-1/2    w-50 md:w-1/2 xl:w-3/5 bg-center bg-no-repeat bg-cover  lg:h-1/2" style="background-image: url('')">
                        <img src="public/img/hepavit.png" >
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section class=" mx-auto bg-zinc-50 w-full text-white px-12 lg:px-0 py-12">
        <div class="mx-auto max-w-[1400px]  w-full ">
            <div class=" flex flex-wrap  w-full">
                <div class="order-1 md:order-0 flex  items-center  justify-center w-full min-h-[50%] md:w-3/5  lg:py-12 lg:pr-12">
                    <div class=" w-full h-full bg-cover	bg-center " style="background-image: url('public/img/image17.jpg')">
                        <!-- Zawartość wewnętrznego diva -->
                    </div>

                </div>
                <div class="order-0 relative md:order-1 w-full md:w-2/5 bg-center relative bg-no-repeat bg-cover items-center">
                    <form className="max-w-md mx-auto mt-7 my-10">
                        <H2 type="small">Nasz doradca skontaktuje się
                            z Tobą, aby ustalić szczegóły. </H2>
                        <Paragraph type="light">Z <b>Hepawit</b>, lepsza przyszłość Twojej hodowli jest tylko jedną konsultacją dalej. Zacznij działać już dzisiaj! Kontaktujemy się najpóźniej w 12 h po zostawieniu wiadomości.</Paragraph>

                        <div className="mb-6 flex-wrap">
                            <div>
                                {inputs.map(input => (
                                        <label className=" bg-transparent border mt-4 h-[200px] border-black text-gray-900 h-28 rounded-lg border border-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" htmlFor={input.id}>
                                            {input.label}
                                        </label>
                                        <input
                                                type={input.type}
                                                id={input.id}
                                                name={input.name}
                                                className={input.class}
                                                required={input.required === 'required'}
                                                placeholder= {input.placeholder}

                                        />
                                ))}
                            </div>

                        </div>
                        <div class="flex justify-center flex-wrap">
                            <div class="mt-7">
                                <input type="checkbox"></input>
                                <label class="text-black"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius interdum quam nec feugiat.</label>
                            </div>

                            <Button type="fullorange-f-w-100" > Umów się na konsultację</Button>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </section>


    <section class="py-12">
        <div class="mx-auto ">
            <div class=" flex flex-wrap  w-full">
                <div class="order-1 md:order-0 flex  items-center bg-center justify-center w-full min-h-[60vh] md:w-3/5  p-12 " style="background-image: url('public/img/333.jpg')">


                </div>
                <div class="order-0 relative md:order-1 w-full md:w-2/5 bg-center relative bg-no-repeat bg-cover h-auto p-12 flex  flex-wrap  justify-center items-center " >

                    <div class="lg:w-3/5">
                        <h2 class=" text-neutral-900 text-black  mb-6 text-[20px] lg:text-[44px] font-bold font-['Gilroy']">
                            Dlaczego HEPAWIT?
                        </h2>
                        <p class="mb-6 text-neutral-900  text-black text-base font-normal font-['Gilroy'] leading-[17.60px]">
                            <b>Hepawit</b> to innowacyjny dodatek paszowy zaprojektowany z myślą o optymalizacji zdrowia
                            i produktywności Twoich krów. <br><br>Bazując na zaawansowanych badaniach i składnikach najwyższej jakości, Hepawit oferuje natychmiastowe zwiększenie wydajności mlecznej, jednocześnie dbając
                            o dobrostan zwierząt.
                        </p>
                        <Button type="fullorange-f-w">Kup teraz</Button>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section class="px-12 lg:px-0 py-12">
        <div class="mx-auto max-w-[1400px]  w-full ">
            <h2 class=" text-neutral-900 text-black  text-[30px] lg:text-[44px] font-bold font-['Gilroy']">
                Odkryj jak Hepawit<br> może Ci pomóc: </h2>
            <div class="flex flex-wrap">

                <div class="w-full lg:w-2/5">
                    {about.map((slide, index) => (
                            <div className={`  flex flex-wrap  'flex-row' : 'md:flex-row-reverse'}`}>
                                <div className={` w-full   md:w-[90%]   flex items-center justify-start  ${index % 2 === 0 ? ' ' : '  md:-order-1 '}`}>
                                    <div class="md:w-[329px]  flex-col justify-start items-start gap-2 inline-flex">
                                        <p class="text-orange  text-[20px] lg:text-[32px] font-normal font-['Gilroy'] uppercase leading-loose">{String(index + 1).padStart(2, '0')}</p>
                                        <p class="text-black text-xl md:text-2xl  font-bold  font-['Gilroy']">{slide.title}</p>
                                        <p class="text-black text-xl md:text-base font-normal font-['Gilroy']">{slide.description}</p>

                                    </div>
                                </div>
                            </div>
                    ))}
                </div>
                <div class="w-full lg:w-3/5 mt-6 lg:mt-0 lg:shadow-md lg:rounded-tl-lg lg:rounded-bl-lg lg:rounded-bl-[50px]  lg:rounded-tl-[50px]  p-3 lg:p-12">
                    <h3 class="pb-6">Wyniki wprowadzenia
                        100 g na krowę Hepawit </h3>
                    <img src="src/assets/IMG/Group 64.png">
                </div>
            </div>
        </div>

    </section>
    <section class=" bg-black py-12 ">
        <div class="mx-auto max-w-[1400px] px-6 lg:px-0 w-full ">
            <h2 class=" text-neutral-900 text-white  text-center text-[40px] lg:text-[44px] font-bold font-['Gilroy']">
                Kluczowe korzyści</h2>
            <div class="flex flex-wrap justify-center pt-12">
                {korzysci.map((korzysci, index) => (
                <div class="lg:w-1/5 mt-6 lg:mt-0">

                            <div className={`  flex flex-wrap  'flex-row' : 'md:flex-row-reverse'}`}>
                                <div className={` w-full   md:w-[90%]   flex items-center justify-start  ${index % 2 === 0 ? ' ' : '  md:-order-1 '}`}>
                                    <div class="md:w-[329px]  flex justify-center items-start gap-2 flex-wrap">
                                        <img src={korzysci.image} class="w-[60px] h-[60px]">
                                        <p class="text-white text-center text-2xl pt-6 md:text-xl  font-bold  font-['Gilroy']">{korzysci.title}</p>
                                        <p class="text-white  text-center text-xl pt-6 md:text-base font-normal font-['Gilroy']">{korzysci.description}</p>

                                    </div>
                                </div>
                            </div>

                </div>
                ))}
            </div>
            <div class="pt-6 text-center">
                <h3 class="text-white  text-center text-xl pt-6 md:text-4xl font-bold font-['Gilroy']">Dawkowanie </h3>
                <p class="text-white text-center text-sm font-bold">Faza przygotowania do laktacji: <span class="font-light">100g</span></p>
                <p class="text-white text-center text-sm font-bold">   Okres laktacji: 50-200g <span class="font-light">(dostosowane do indywidualnych potrzeb)</span></p>
                <Button type="fullorange-f-w">Skontaktuj się z doradcą </Button>

            </div>
        </div>

    </section>


    <section class="bg-orange text-white">
        <div class="mx-auto ">
            <div class=" flex flex-wrap  w-full">
                <div class="order-1 md:order-0 flex  items-center  justify-center w-full min-h-[50%] md:w-1/2 lg:h-100vh  p-12 bg-red">
                    <div class="lg:absolute lg:pl-10 xl:pl-0 left-0 text-center lg:text-left right-0 mx-auto max-w-[1400px] w-full lg:pr-36">
                        <h2 class="lg:w-2/5 text-neutral-900 text-black mb-6 text-[30px] lg:text-[34px] font-bold font-['Gilroy']">
                            Inwestycja w przyszłość Twojej hodowli
                        </h2>
                        <p class="lg:w-2/5 mb-6 text-neutral-900  text-black text-base font-normal font-['Gilroy'] leading-[17.60px]">
                            Z <b>Hepawit</b>, nie tylko zwiększysz wydajność mleczną, ale także poprawisz ogólną zdrowotność Twoich krów. Dzięki optymalizacji składu mleka, zwiększeniu zawartości białka i tłuszczu, a także możliwości obniżenia zawartości białka w diecie. <br><br>
                            <b>Hepawit</b> jest inwestycją, która szybko się zwraca, oferując jednocześnie długoterminowe korzyści dla Twojej hodowli.
                        </p>
                    </div>

                </div>
                <div class="order-0 relative md:order-1 w-full md:w-1/2 bg-center relative bg-no-repeat bg-cover h-fit  lg:h-100vh" style="background-image: url('public/img/333.jpg')">
                    <div class="order-0 md:order-1 lg:absolute flex items-center lg:left:1/2 lg:transform lg:-translate-x-1/2   lg:translate-y-1/2    w-50 md:w-1/2 xl:w-3/5 bg-center bg-no-repeat bg-cover  lg:h-1/2" style="background-image: url('')">
                        <img src="public/img/hepavit.png" >
                    </div>
                </div>

            </div>

        </div>
    </section>



    <section class="py-12">
        <div class="mx-auto ">
            <div class=" flex flex-wrap  w-full">
                <div class="order-1 md:order-0 flex  items-center  justify-center w-full min-h-[60vh] md:w-3/5  p-12 " style="background-image: url('public/img/333.jpg')">


                </div>
                <div class="order-0 relative md:order-1 w-full md:w-2/5 bg-center relative bg-no-repeat bg-cover h-auto p-12 flex  flex-wrap  justify-center items-center " >

                    <div class="w-full lg:w-3/5">
                        <h2 class=" text-neutral-900 text-black  mb-6 text-[40px] lg:text-[44px] font-bold font-['Gilroy']">
                            Umów się na konsultację
                        </h2>
                        <p class="mb-6 text-neutral-900  text-black text-base font-normal font-['Gilroy'] leading-[17.60px]">
                            Zacznij optymalizować hodowlę z Hepawit.
                            Przejście na Hepawit to pierwszy krok do rewolucji
                            w Twojej hodowli bydła mlecznego. Wiemy, że każda farma jest unikatowa
                            i każdy hodowca ma indywidualne potrzeby oraz cele. Dlatego zapraszamy Cię do skorzystania z bezpłatnej konsultacji z naszym doświadczonym doradcą ds. żywienia zwierząt.
                        </p>
                        <p class="mb-6 text-neutral-900  text-black text-base font-normal font-['Gilroy'] leading-[17.60px]">
                            Nie czekaj, aż Twoje krowy przestaną spełniać oczekiwania. Skontaktuj się z nami, aby umówić się na bezpłatną konsultację i dowiedzieć się więcej o tym, jak Hepawit może przynieść rewolucję w Twojej hodowli.
                        </p>
                        <Button type="orange">Umów się teraz</Button>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section class=" mx-auto bg-lightorange w-full text-white px-12 lg:px-0 py-12">
        <div class="mx-auto max-w-[1400px]  w-full ">
            <div class=" flex flex-wrap  w-full">
                <div class="order-1 md:order-0 flex  items-center justify-center w-full min-h-[50%] md:w-3/5  py-12 lg:pr-12">
                    <div class="w-full h-[200px] lg:h-full bg-cover bg-center " style="background-image: url('public/img/image17.jpg')">
                        <!-- Zawartość wewnętrznego diva -->
                    </div>

                </div>
                <div class="order-0 relative md:order-1 w-full md:w-2/5 bg-center relative bg-no-repeat bg-cover items-center">
                    <form className="max-w-md mx-auto mt-7 my-10">
                        <H2 type="small">Zacznij teraz. </H2>
                        <Paragraph type="light">Zwiększ wydajność i zdrowie swoich krów już dziś, wybierając Hepawit. Skontaktuj się
                            z nami, aby dowiedzieć się więcej o tym, jak możemy wspomóc rozwój Twojej hodowli.</Paragraph>

                        <div className="mb-6 flex-wrap">
                            <div>
                                {inputs2.map(input => (
                                        <label className=" bg-transparent border mt-4 h-[200px] border-black text-gray-900 h-28 rounded-lg border border-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" htmlFor={input.id}>
                                            {input.label}
                                        </label>
                                        <input
                                                type={input.type}
                                                id={input.id}
                                                name={input.name}
                                                className={input.class}
                                                required={input.required === 'required'}
                                                placeholder= {input.placeholder}

                                        />
                                ))}
                            </div>

                        </div>
                        <p class="text-black text-[20px] pt-6">Nasz handlowiec skontaktuje sie z Tobą w ciagu 12 h i przedstawi Ci ofertę</p>

                        <div class="flex justify-center flex-wrap">

                            <div class="mt-7">
                                <input type="checkbox"></input>
                                <label class="text-black"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius interdum quam nec feugiat.</label>
                            </div>

                            <Button type="fullorange-f-w-100" > Umów się na konsultację</Button>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </section>




    <section class=" py-10 xl:py-20 w-full p-5 xl:p-0 mx-auto max-w-[1400px]">
        <h1 class="text-neutral-900 text-4xl lg:text-[44px] font-bold font-['Gilroy'] leading-[76.80px]">FAQ</h1>
        <div class="py-10 xl:py-20 ">
            {faqs.map((faq, index) => (
                    <details key={index} class="group border-b border-black-10 " onToggle={toggleSign}>
                        <summary class="text-lg py-[24px] 0 cursor-pointer font-semibold group-open:text-blue-600 flex justify-between">
                            <div class="text-black text-base font-bold font-['Gilroy'] leading-tight">{faq.question}</div><span class="text-[30px] font-normal sign text-orange">+</span>
                        </summary>
                        <p class="pt-2 pb-[24px] text-black text-base font-normal font-['Gilroy'] leading-tight">
                            {faq.answer}
                        </p>
                    </details>
            ))}
        </div>
    </section>

    <div class=" absolute bottom-10 drop-shadow-2xl  m-3 lg:right-10 lg:w-2/6 h-fit bg-orange rounded-[13px] p-5" id="consent">
        <svg class="w-[25px] absolute right-5 top-2.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 744.09 1052.4" version="1.1">
            <g id="layer1">
                <path id="path2989" d="m814.29 606.65a314.29 314.29 0 1 1 -628.57 0 314.29 314.29 0 1 1 628.57 0z" stroke="#000" stroke-width="5" transform="matrix(1.1048 0 0 1.1048 -179.21 -162.53)"/>
                <g id="g3763" transform="matrix(.91837 0 0 .91837 47.587 10.944)" stroke="#fff" stroke-linecap="round" stroke-width="133.87" fill="none">
                    <path id="path2991" d="m176.51 362.87 356.13 356.13"/>
                    <path id="path2993" d="m532.64 362.87-356.13 356.13"/>
                </g>
            </g>
        </svg>

        <svg width="113" height="28" viewBox="0 0 113 28" fill="none" xmlns="http://www.w3.org/2000/svg" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="9:114"> <g id="Group 31" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="10:22"> <path id="Vector" d="M112.86 12.5604V17.1126H107.659V22.3139H103.108V17.1126H97.9072V12.5604H103.108V7.36133H107.659V12.5604H112.86Z" fill="#FFF" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="11:10"></path> <path id="Vector_2" d="M26.5234 16.8038C26.5234 12.2495 30.1301 8.73584 34.6217 8.73584C39.1133 8.73584 42.72 12.2517 42.72 16.8038C42.72 21.356 39.1133 24.8719 34.6217 24.8719C30.1301 24.8719 26.5234 21.356 26.5234 16.8038ZM38.1376 16.8038C38.1376 14.6338 36.6101 13.1972 34.6217 13.1972C32.6334 13.1972 31.1081 14.6338 31.1081 16.8038C31.1081 18.9739 32.6356 20.4105 34.6217 20.4105C36.6079 20.4105 38.1376 18.9739 38.1376 16.8038Z" fill="black" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="12:10"></path> <path id="Vector_3" d="M49.903 2.13281H45.3184V24.4437H49.903V2.13281Z" fill="black" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="13:10"></path> <path id="Vector_4" d="M67.932 15.0592V24.4427H63.3474V15.7321C63.3474 13.8368 62.1552 12.9519 60.6883 12.9519C59.0072 12.9519 57.8454 13.9298 57.8454 16.0999V24.4427H53.2607V9.1613H57.8454V10.5979C58.6697 9.46637 60.1994 8.73291 62.2158 8.73291C65.3033 8.73291 67.932 10.9333 67.932 15.0592Z" fill="black" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="14:10"></path> <path id="Vector_5" d="M70.6221 5.06583C70.6221 3.56863 71.8748 2.31592 73.3741 2.31592C74.8735 2.31592 76.1241 3.56863 76.1241 5.06583C76.1241 6.56303 74.8713 7.81575 73.3741 7.81575C71.8769 7.81575 70.6221 6.56303 70.6221 5.06583ZM71.0807 9.1615H75.6654V24.4429H71.0807V9.1615Z" fill="black" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="15:10"></path> <path id="Vector_6" d="M88.4997 24.4428L83.61 17.6881V24.4428H79.0254V3.04932H83.61V15.8534L88.1947 9.16144H93.543L87.9805 16.8032L93.6945 24.4428H88.4997Z" fill="black" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="16:10"></path> <path id="Vector_7" d="M13.4924 27.5038H9.36649V20.5003C9.27345 18.6612 8.60058 16.9174 7.46902 15.5824C6.57114 14.5245 5.43742 13.7867 4.20634 13.434C4.41837 14.9918 5.04581 16.4544 6.03673 17.6205L2.88872 20.2904C0.744604 17.7612 -0.283099 14.3492 0.067402 10.9307L0.249143 9.16742L2.01896 9.08087C5.27299 8.91644 8.41235 10.3184 10.6149 12.9126C12.3414 14.9485 13.3626 17.5924 13.4903 20.3553V20.6928V27.5038H13.4924Z" fill="black" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="17:10"></path> <g id="Group" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="18:23"> <path id="Vector_8" d="M20.8273 0.496094H19.1398C13.7308 0.496094 9.36035 4.8687 9.36035 10.2755V24.3518H13.5036V10.2755C13.5036 7.16859 16.035 4.63719 19.1419 4.63719H21.444C21.3682 7.43687 21.0221 9.50742 19.4102 11.5412C18.9494 12.1167 18.4128 12.6533 17.8373 13.1531L16.6105 14.1505L21.3271 24.3907H25.8923L21.6344 15.1847C21.9805 14.8385 22.3245 14.4555 22.6318 14.0726C25.5851 10.3512 25.5851 6.36373 25.5851 2.56664V0.496094H20.8295H20.8273Z" fill="url(#paint0_radial_352_1047)" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="19:14"></path> <path id="Vector_9" d="M20.8273 0.496094H19.1398C13.7308 0.496094 9.36035 4.8687 9.36035 10.2755V24.3518H13.5036V10.2755C13.5036 7.16859 16.035 4.63719 19.1419 4.63719H21.444C21.3682 7.43687 21.0221 9.50742 19.4102 11.5412C18.9494 12.1167 18.4128 12.6533 17.8373 13.1531L16.6105 14.1505L21.3271 24.3907H25.8923L21.6344 15.1847C21.9805 14.8385 22.3245 14.4555 22.6318 14.0726C25.5851 10.3512 25.5851 6.36373 25.5851 2.56664V0.496094H20.8295H20.8273Z" fill="url(#paint1_radial_352_1047)" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="20:14"></path> </g> </g> <defs data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="23:11"> <radialGradient id="paint0_radial_352_1047" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(3.11598 20.0363) rotate(-41.26) scale(39.4826)" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="24:181"> <stop offset="0.19" stop-opacity="0" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="25:14"></stop> <stop offset="0.66" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="26:14"></stop> <stop offset="0.92" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="27:14"></stop> </radialGradient> <radialGradient id="paint1_radial_352_1047" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(28.5101 23.6128) rotate(-98.97) scale(22.1003 15.2875)" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="29:189"> <stop data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="30:14"></stop> <stop offset="0.44" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="31:14"></stop> <stop offset="0.83" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="32:14"></stop> <stop offset="1" stop-opacity="0" data-astro-source-file="/Users/maksymilianmurawski_1/WebstormProjects/rolnikplus-web-proto/src/components/ui/Nav.astro" data-astro-source-loc="33:14"></stop> </radialGradient> </defs> </svg>
        <h5 class="mt-6 font-extrabold">Cookies</h5>
        <p class="mt-2 text-sm">Poprzez korzystanie z naszej strony internetowej wyrażasz zgodę na wykorzystanie plików cookies zgodnie z naszą polityką <b>prywatności.</b> </p>
        <Button type="black-consent" > OK</Button>
        <Button type="green-consent" > NIE ZGADZAM SIĘ</Button>

    </div>
</Page>
