---
// Tutaj możesz umieścić skrypty JavaScript do obsługi slidera

import Button from "../ui/Button.astro";
let activeSlide = 0;


const datatable = [
    {
        id: 0,
        title: 'Dolar amerykański',
        Currrency: 'USD',
        Price: '4,227',
        Change: '+0,96%',

    },
    {
        id: 1,
        title: 'Euro',
        Currrency: 'EUR',
        Price: '4,227',
        Change: '+0,96%',
    },
    {
        id: 2,
        title: 'Funt Brytyjski',
        Currrency: 'GBP',
        Price: '4,227',
        Change: '-0,96%',
    }
];

const datatable2 = [
    {
        id: 0,
        title2: 'Żyto paszowe',
        Price2: '460 - 480 zł /t',

    },
    {
        id: 1,
        title2: 'Tuczniki',
        Price2: '8.53 zł / kg',
    },
    {
        id: 2,
        title2: 'Kukurydza',
        Price2: '800 - 820 zł / t',
    }
];
---



<div  class="datatable grid  grid-cols-1 lg:grid-cols-2 gap-5 lg:gap-5 lg:grid-flow-col h-1/2 w-full p-4 lg:p-20">

    <div class="shadow-md p-5">
        {datatable.map((slide, index) => (
                <div class="flex flex-wrap border-b  last:border-b-0  items-center border-lightgrey items-center justify-between  ">
                    <p class=" 	w-1/4 text-neutral-700 my-5  font-bold font-['Gilroy'] ">{slide.title}</p>
                    <p class=" text-center	w-1/4 my-5 text-neutral-900 text-base font-normal font-['Gilroy'] leading-[17.60px]">{slide.Currrency}</p>
                    <p class=" text-center	w-1/4  my-5 text-neutral-900 text-base font-normal font-['Gilroy'] leading-[17.60px]">{slide.Price}</p>
                    <p class=" text-center	w-1/4  my-5 text-red-600 text-base font-bold font-['Gilroy']">{slide.Change}</p>
                </div>
        ))}
    </div>
    <div class="shadow-md	p-5 ">
        {datatable2.map((slide, index) => (
                <div class="flex flex-wrap last:border-b-0 border-lightgrey border-b items-center justify-between  ">
                    <p class=" 	w-1/2 text-neutral-700   my-5  font-bold font-['Gilroy'] ">{slide.title2}</p>
                    <p class=" text-right  my-5  text-green text-base font-bold font-['Gilroy'] w-1/2">{slide.Price2}</p>
                </div>
        ))}
    </div>

</div>



