---
// Tutaj możesz umieścić skrypty JavaScript do obsługi slidera


import Button from "./Button.astro";
const inputs = [
    {
        id: 0,
        label: '',
        placeholder: 'Imię',
        type: 'text',
        name:'name',
        class: 'bg-transparent border-b pl-0 mb-4 border-black text-neutral-500 text-sm font-normal font-[Gilroy] leading-none  focus:ring-orange focus:border-orange w-full p-2.5',
        required: 'required'
    },
    {
        id: 1,
        label: '',
        placeholder: 'Nazwisko',
        type: 'text',
        name:'name',
        class: 'bg-transparent border-b pl-0 mb-4 border-black text-neutral-500 text-sm font-normal font-[Gilroy] leading-none  focus:ring-orange focus:border-orange w-full p-2.5',
        required: 'required'
    },
    {
        id: 2,
        label: '',
        placeholder: 'Adres e-mail',
        type: 'email',
        name:'name',
        class: 'bg-transparent border-b pl-0 mb-4 border-black text-neutral-500 text-sm font-normal font-[Gilroy] leading-none  focus:ring-orange focus:border-orange w-full p-2.5',
        required: 'required'
    },
    {
        id: 3,
        label:'',
        placeholder: 'Kategoria wiadomości',
        type: 'select',
        name:'name',
        class: 'bg-transparent border-b pl-0 mb-4 border-black text-neutral-500 text-sm font-normal font-[Gilroy] leading-none  focus:ring-orange focus:border-orange w-full p-2.5',
        required: 'required'
    },
    {
        id: 4,
        label: '',
        placeholder:'Temat wiadomości',
        type: 'text',
        name:'name',
        class: 'bg-transparent border-b pl-0 mb-4 border-black text-neutral-500 text-sm font-normal font-[Gilroy] leading-none  focus:ring-orange focus:border-orange w-full p-2.5',
        required: 'required'
    },
    {
        id: 5,
        label: 'Treść wiadomości',
        type: 'text-field',
        name:'name',
        class: 'bg-transparent border mt-4 h-[200px] border-black text-gray-900 h-28 rounded-lg border border-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5',
        required: 'required'
    },


];





import H2 from "./h2.astro";
import Paragraph from "./paragraph.astro";---


<section class="p-28 bg-zink  p bg-opacity-20  ">
    <div class="max-w-[1440px] w-full flex mx-auto" >
        <div class="w-4/6">
            <div class="pt-[100%] bg-center bg-cover bg-no-repeat  bg-[url('/src/assets/IMG/kontakt.jpg')]">

            </div>
        </div>
        <div class="w-2/5 flex items-stretch pl-32">

            <form className="max-w-md mx-auto mt-7 my-10">
                <H2 type="small">Skontaktuj się z nami </H2>
                <Paragraph type="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius interdum quam nec feugiat</Paragraph>

                <div className="mb-6  flex-wrap">
                   <div>
                       {inputs.map(input => (
                               <label className=" bg-transparent border mt-4 h-[200px] border-black text-gray-900 h-28 rounded-lg border border-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" htmlFor={input.id}>
                                   {input.label}
                               </label>
                               <input
                                       type={input.type}
                                       id={input.id}
                                       name={input.name}
                                       className={input.class}
                                       required={input.required === 'required'}
                                       placeholder= {input.placeholder}

                               />
                       ))}
                   </div>

                </div>
               <div class="flex justify-center flex-wrap">
                   <Button type="orange-f-w" > Dodaj załącznik <span class="group-hover:text-black text-orange font-bold">+</span></Button>
                  <div class="mt-7">
                      <input type="checkbox"></input>
                      <label> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius interdum quam nec feugiat.</label>
                  </div>

                   <Button type="fullorange-f-w" > Dodaj załącznik</Button>
               </div>

            </form>

        </div>

    </div>


</section>

