---
let quantity = 1;

function handleQuantityChange(event) {
    quantity = parseInt(event.target.value, 10);
}

const products = [
    {
        id: 0,
        title: 'EPS 80-038',
        image: 'public/img/a3.jpg',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
        short: 'EPS080'

    },
    {
        id: 1,
        title: 'EPS 80-038',
        image: 'public/img/a3.jpg',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
        short: 'EPS080'

    },
    {
        id: 2,
        title: 'EPS 80-038',
        image: 'public/img/a3.jpg',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
        short: 'EPS080'

    },
    {
        id: 3,
        title: 'EPS 80-038',
        image: 'public/img/a3.jpg',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
        short: 'EPS080'

    },
    {
        id: 4,
        title: 'EPS 80-038',
        image: 'public/img/a3.jpg',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
        short: 'EPS080'
    },


];
const categories = [
    {
        id: 0,
        title: 'O firmie',
        title2: 'ściany',
    },
    {
        id: 1,
        title: 'Nasze produkty',
        title2: 'dach',

    },
    {
        id: 2,
        title: 'Oferta',
        title2: 'piwnica',

    },
    {
        id: 3,
        title: 'Poradniki i wskazówki',
        title2: 'podłoga i sufit',

    },
    {
        id: 4,
        title: 'Blog',
        title2: 'kształtki',

    },
    {
        id: 5,
        title: 'Kontakt',
    },
];
const realizacje = [
    {
        id: 0,
        title: 'Ściany / Fasada',
        image: 'public/img/a1.jpg',
        short: 'Lorem ipsum',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum lacusa rhoncus sagittis.',


    },
    {
        id: 1,
        title: 'Dach',
        image: 'public/img/a9.jpg',
        short: 'Lorem ipsum',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum lacusa rhoncus sagittis.',

    },
    {
        id: 2,
        title: 'Piwnica',
        image: 'public/img/a1.jpg',
        short: 'Lorem ipsum',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum lacusa rhoncus sagittis.',


    },
    {
        id: 3,
        title: 'Wypełnienia',
        image: 'public/img/a4.jpg',
        short: 'Lorem ipsum',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum lacusa rhoncus sagittis.',

    },
    {
        id: 4,
        title: 'Inne',
        image: 'public/img/a5.jpg',
        short: 'Lorem ipsum',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum lacusa rhoncus sagittis.',

    },

];


---

<nav class="p-6 w-full border-b border-white fixed z-50 ">
    <div class="w-full max-w-[1400px] h-14 mx-auto  flex items-center lg:p-0 ">
            <a href="/">
                <svg width="100" height="34" viewBox="0 0 100 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_266_383)">
                        <path d="M31.0565 20.8523H33.831V33.5027H31.0565V31.6099C29.9612 33.1044 28.2567 33.9999 26.246 33.9999C22.4551 33.9999 19.7563 31.1375 19.7563 27.176C19.7563 23.2144 22.4551 20.3521 26.246 20.3521C28.2567 20.3521 29.9644 21.2475 31.0565 22.742V20.8492V20.8523ZM31.0312 27.179C31.0312 24.6131 29.251 22.7728 26.7795 22.7728C24.308 22.7728 22.5025 24.6162 22.5025 27.179C22.5025 29.7419 24.3111 31.5883 26.7795 31.5883C29.2478 31.5883 31.0312 29.745 31.0312 27.179Z" fill="white"/>
                        <path d="M35.9774 33.5031V20.8526H38.6509V22.2977C39.4653 21.078 40.8131 20.3555 42.3661 20.3555C44.3768 20.3555 46.056 21.3003 46.8199 22.7454C47.71 21.3003 49.3387 20.3802 51.1979 20.3802C54.2281 20.3802 56.365 22.6466 56.365 25.8578V33.5031H53.6157V26.0832C53.6157 24.1657 52.3689 22.7979 50.6139 22.7732C48.8053 22.7732 47.508 24.1657 47.508 26.0832V33.5031H44.7334V26.0832C44.7334 24.0916 43.5876 22.7732 41.8042 22.7732C40.0208 22.7732 38.7488 24.0916 38.7488 26.0832V33.5031H35.9742H35.9774Z" fill="white"/>
                        <path d="M58.262 17.1409C58.262 16.1961 58.9754 15.5229 59.9949 15.5229C61.0145 15.5229 61.6994 16.1961 61.6994 17.1409C61.6994 18.0858 60.9861 18.8083 59.9949 18.8083C59.0038 18.8083 58.262 18.1105 58.262 17.1409ZM61.368 20.8524V33.5028H58.6187V20.8524H61.368Z" fill="white"/>
                        <path d="M64.9601 22.9708H62.9747V20.8526H65.1148L65.4714 17.7896H67.7378V20.8526H70.8942V22.9708H67.7378V29.77C67.7378 30.9155 68.4511 31.7122 69.6222 31.7122C69.9789 31.7122 70.5912 31.6381 71.0742 31.4868V33.6544C70.4145 33.8798 69.4959 34.0033 68.7826 34.0033C66.4657 34.0033 64.9632 32.3606 64.9632 29.946V22.9739L64.9601 22.9708Z" fill="white"/>
                        <path d="M78.9148 20.3555C82.9361 20.3555 85.7864 23.1437 85.7864 27.0528C85.7864 27.3523 85.7611 27.7259 85.7359 28.0254L74.8398 28.0007C75.1712 30.2424 76.7747 31.7369 78.8864 31.7369C80.6193 31.7369 82.2227 30.7426 82.7057 29.347L85.3003 29.7206C84.5617 32.2124 81.8882 34.0033 78.9369 34.0033C74.8903 34.0033 71.9863 31.0884 71.9863 27.0312C71.9863 22.9739 74.8871 20.3586 78.9116 20.3586L78.9148 20.3555ZM82.9109 26.0091C82.6047 24.0175 80.9759 22.6219 78.839 22.6219C76.7021 22.6219 75.2249 23.9928 74.8682 26.0091H82.9109Z" fill="white"/>
                        <path d="M99.9748 25.1629L97.3265 25.4871C96.9193 23.8445 95.3411 22.6742 93.5577 22.6742C91.2661 22.6742 89.4606 24.567 89.4606 27.1823C89.4858 29.7976 91.2408 31.6904 93.5577 31.6904C95.3916 31.6904 96.8941 30.5201 97.3518 28.9022L100 29.2264C99.4666 31.9899 96.7426 34.0062 93.5577 34.0062C89.5868 34.0062 86.7113 31.1439 86.7113 27.1823C86.7113 23.2207 89.5868 20.3584 93.5324 20.3584C96.8152 20.3584 99.5139 22.3747 99.9716 25.166L99.9748 25.1629Z" fill="white"/>
                        <path d="M0 25.9442C0.0441905 25.0086 0.138884 24.073 0.284082 23.1467C1.2468 17.0299 4.42852 11.4164 9.24213 7.34362C14.1062 3.23076 20.3308 0.964355 26.77 0.964355C32.7294 0.964355 38.37 2.83861 43.0826 6.38334C43.676 6.82797 44.2505 7.29731 44.8029 7.79135L40.2639 12.2315C38.329 10.5641 36.0658 9.25185 33.6542 8.40581C31.4542 7.63078 29.1373 7.23864 26.77 7.23864C19.0082 7.23864 12.023 11.4565 8.5414 18.2464C7.29775 20.6703 6.58754 23.2547 6.42025 25.9473H0V25.9442Z" fill="#ED1C24"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_266_383">
                            <rect width="100" height="33.0357" fill="white" transform="translate(0 0.964355)"/>
                        </clipPath>
                    </defs>
                </svg>
            </a>
        <div class="w-full h-20 justify-end items-center gap-4 md:gap-10 lg:gap-16 inline-flex">
            <button id="SearchMenuButton" class="w-5 h-5 relative ">
                <svg class="tooltip-trigger" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="Frame">
                        <g id="Vector">
                            <path d="M17.5 17.5L14.5834 14.5833M16.6667 9.58333C16.6667 13.4953 13.4953 16.6667 9.58333 16.6667C5.67132 16.6667 2.5 13.4953 2.5 9.58333C2.5 5.67132 5.67132 2.5 9.58333 2.5C13.4953 2.5 16.6667 5.67132 16.6667 9.58333Z" stroke="white" stroke-linecap="square" stroke-linejoin="round" style="mix-blend-mode:difference"/>
                        </g>
                    </g>
                </svg>
                <div class="absolute hidden group-hover:block text-[10px]  text-white  font-light py-1 px-2 bottom-full  left-1/2 transform -translate-x-1/2 whitespace-nowrap">
                    Szukaj produktu
                </div>
            </button>
            <button id="CallMenuButton"class="w-5 h-5 relative" onclick="window.location.href='tel:531581109';">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="Frame">
                        <g id="Vector">
                            <path d="M6.98356 7.37779C7.56355 8.58583 8.35425 9.718 9.3555 10.7193C10.3568 11.7207 11.4891 12.5113 12.6971 13.0913C12.801 13.1412 12.8529 13.1662 12.9187 13.1853C13.1523 13.2534 13.4392 13.2045 13.637 13.0628C13.6927 13.0229 13.7403 12.9753 13.8356 12.8801C14.1269 12.5887 14.2726 12.443 14.4191 12.3478C14.9715 11.9887 15.6837 11.9887 16.2361 12.3478C16.3826 12.443 16.5282 12.5887 16.8196 12.8801L16.9819 13.0424C17.4248 13.4853 17.6462 13.7068 17.7665 13.9446C18.0057 14.4175 18.0057 14.9761 17.7665 15.4491C17.6462 15.6868 17.4248 15.9083 16.9819 16.3512L16.8506 16.4825C16.4092 16.9239 16.1886 17.1446 15.8885 17.3131C15.5556 17.5001 15.0385 17.6346 14.6567 17.6334C14.3126 17.6324 14.0773 17.5657 13.607 17.4322C11.0792 16.7147 8.69383 15.361 6.70388 13.371C4.7139 11.381 3.36017 8.99567 2.6427 6.46787C2.50919 5.99749 2.44243 5.76231 2.44141 5.41818C2.44027 5.03633 2.57474 4.51926 2.76176 4.18633C2.9303 3.88631 3.15097 3.66563 3.59233 3.22427L3.72369 3.09292C4.16656 2.65005 4.388 2.42861 4.62581 2.30833C5.09878 2.0691 5.65733 2.0691 6.1303 2.30833C6.36811 2.42861 6.58955 2.65005 7.03242 3.09292L7.19481 3.25531C7.48615 3.54664 7.63182 3.69232 7.72706 3.83879C8.08622 4.39121 8.08622 5.10336 7.72706 5.65577C7.63182 5.80224 7.48615 5.94792 7.19481 6.23925C7.09955 6.33452 7.05192 6.38214 7.01205 6.43782C6.87038 6.63568 6.82146 6.92256 6.88956 7.15619C6.90873 7.22193 6.93367 7.27388 6.98356 7.37779Z" stroke="white" stroke-linecap="round" stroke-linejoin="round" style="mix-blend-mode:difference"/>
                        </g>
                    </g>
                </svg>
            </button>
            <button id="ZazaMenuButton"class="w-5 h-5 relative" onclick="window.open('https://zaza.amitec.com.pl', '_blank');">
                <svg class="tooltip-trigger" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="Frame">
                        <g id="Vector">
                            <path d="M2.5 16.6667C4.44649 14.6022 7.08918 13.3333 10 13.3333C12.9108 13.3333 15.5535 14.6022 17.5 16.6667M13.75 6.25C13.75 8.32107 12.0711 10 10 10C7.92893 10 6.25 8.32107 6.25 6.25C6.25 4.17893 7.92893 2.5 10 2.5C12.0711 2.5 13.75 4.17893 13.75 6.25Z" stroke="white" stroke-linecap="square" stroke-linejoin="round" style="mix-blend-mode:difference"/>
                        </g>
                    </g>
                </svg>
                <div class="absolute hidden group-hover:block  text-white text-[10px] font-light py-1 px-2 bottom-full  left-1/2 transform -translate-x-1/2 whitespace-nowrap">
                    Panel klienta
                </div>
            </button>

            <button id="search-toggle" class="relative">
                <svg id="search-open" class="block" width="40" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="Group 1">
                        <g id="Line 1">
                            <line x1="20" y1="0.833496" y2="0.833496" stroke="white"  style="mix-blend-mode:difference"/>
                        </g>
                        <g id="Line 4">
                            <line x1="20" y1="14.167" y2="14.167" stroke="white" style="mix-blend-mode:difference"/>
                        </g>
                    </g>
                </svg>
                <svg id="search-close" class="hidden"  width="40" height="15" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="0.504357" y1="15.1518" x2="14.6465" y2="1.00968" stroke="white"/>
                    <line x1="14.6467" y1="14.9898" x2="0.504554" y2="0.84765" stroke="white"/>
                </svg>

            </button>

        </div>
</div>
</nav>






<div id="search_result" class="fixed w-full z-40 bg-black h-[0] flex items-start transition-all duration-300">
    <div class="mx-auto max-w-[1400px] w-full mt-[20%] p-6 lg:mt-[10%] relative"> <!-- Added 'relative' class here -->
        <div id="main-categories" class="hidden mt-12 lg:mt-6 flex-initial w-full flex  flex-wrap  font-light leading-9" >
            {categories.map((slide, index) => (
                    <h2 id={slide.title} class=" cursor-pointer font-medium lg:text-2xl text-white mr-6 hover:underline focus:underline active:underline hover:underline-offset-8 decoration-4	decoration-red-500   lg:mb-6"> {slide.title}</h2>
            ))}
        </div>
        <div id="sub_menu" class=" mt-12 lg:mt-6 flex-initial w-full flex   flex-wrap  font-light leading-9 overflow-hidden transition-[height] duration-300 ease-in-out h-0 hidden" >
            {categories.map((slide, index) => (
                    <h2 class=" cursor-pointer text-white mr-6 hover:underline focus:underline active:underline hover:underline-offset-8 decoration-4	decoration-red-500   lg:mb-6"> {slide.title2}</h2>
            ))}
        </div>
        <div id="menu_placeholder" class=" mt-12 lg:mt-6 flex-initial w-full flex items-end hidden flex-wrap" >
            <div class="w-1/2 lg:w-1/5   h-full flex items-end">
                <div class="flex-col justify-start items-start gap-5 inline-flex">
                    <div class="self-stretch text-white text-xs font-medium font-['Objectivity']">Amitec Sp. z o. o </div>
                    <div class="self-stretch  flex-col justify-start items-start gap-2 flex">
                        <div class="text-[#999999] text-xs font-light font-['Objectivity']"> </div>
                        <div class="text-[#999999] text-xs font-light font-['Objectivity']">NIP 777-020-88-67</div>
                        <div class="text-[#999999] text-xs font-light font-['Objectivity']">REGON 510519084</div>
                        <div class="text-[#999999] text-xs font-light font-['Objectivity']">KRS 0000000000</div>
                    </div>
                </div>
            </div>
            <div class="w-1/2 lg:w-1/5  flex-col justify-start items-start gap-5 inline-flex">
                <div class="self-stretch text-white text-xs font-medium font-['Objectivity']">Kontakt</div>
                <div class="self-stretch  flex-col justify-start items-start gap-2 flex">
                    <div class="text-[#999999] text-xs font-light font-['Objectivity']">+48 531 581 109</div>
                    <div class="text-[#999999] text-xs font-light font-['Objectivity']">biuro@amitec.com.pl</div>
                    <div class="text-[#999999] text-xs font-light font-['Objectivity']">ul. Stefana Żeromskiego 1A</div>
                    <div class="text-[#999999] text-xs font-light font-['Objectivity']">98-405 Galewice | Poland</div>
                </div>
            </div>
            <svg width="701" height="364" viewBox="0 0 701 364" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.2" d="M701 361.985H0V363.07H701V361.985Z" fill="white"/>
                <path opacity="0.2" d="M307.975 195.84H306.894V362.517H307.975V195.84Z" fill="white"/>
                <path opacity="0.2" d="M660.14 362.517H659.059V191.728L648.617 182.896L456.834 20.8519L269.72 179.435H307.435V180.52H266.942L267.947 179.511L268.661 178.915L456.834 19.4307L457.18 19.7236L649.309 182.061L660.14 191.218V362.517Z" fill="white"/>
                <path opacity="0.2" d="M413.487 57.3276H412.406V362.517H413.487V57.3276Z" fill="white"/>
                <path opacity="0.2" d="M267.969 180.369L259.829 172.21L260.283 171.82L457.374 5.22925V20.1361H456.293V7.56184L261.429 172.275L268.736 179.598L267.969 180.369Z" fill="white"/>
                <path opacity="0.2" d="M675.825 204.259L674.981 203.575L683.521 193.03L456.844 1.42125L258.251 169.292L268.672 179.544L267.915 180.315L256.641 169.227L257.095 168.836L456.844 0L457.19 0.29293L685.034 192.878L675.825 204.259Z" fill="white"/>
                <path opacity="0.2" d="M652.703 172.655L457.396 7.56184V20.1361H456.315V5.22925L653.405 171.82L652.703 172.655Z" fill="white"/>
                <path opacity="0.2" d="M675.49 204.671L659.264 191.902L659.935 191.045L675.317 203.152L681.013 196.014L652.714 172.655L653.395 171.82L682.516 195.851L675.49 204.671Z" fill="white"/>
                <path opacity="0.2" d="M445.246 9.9707H52.5129V11.0556H445.246V9.9707Z" fill="white"/>
                <path opacity="0.2" d="M53.0532 173.599H41.8545V2.53882H53.0532V173.599ZM42.9354 172.514H51.9722V3.62374H42.9354V172.514Z" fill="white"/>
                <path opacity="0.2" d="M268.347 180.521H44.0706V173.056H45.1515V179.436H268.347V180.521Z" fill="white"/>
                <path opacity="0.2" d="M268.347 179.436H268.239V180.521H268.347V179.436Z" fill="white"/>
                <path opacity="0.2" d="M45.1515 179.989H44.0706V362.528H45.1515V179.989Z" fill="white"/>
                <path opacity="0.2" d="M412.936 184.687H44.6111V185.772H412.936V184.687Z" fill="white"/>
                <path opacity="0.2" d="M402.494 362.528H401.413V196.383H56.1449V362.528H55.064V195.298H402.494V362.528Z" fill="white"/>
                <path opacity="0.2" d="M202.258 363.309H195.783V347.274H106.29V340.525H202.258V363.309ZM196.864 362.224H201.177V341.61H107.371V346.189H196.864V362.224Z" fill="white"/>
                <path opacity="0.2" d="M307.975 347.274H201.717V346.189H306.894V341.61H201.717V340.525H307.975V347.274Z" fill="white"/>
                <path opacity="0.2" d="M307.435 351.375H201.717V352.46H307.435V351.375Z" fill="white"/>
                <path opacity="0.2" d="M307.435 356.68H201.717V357.765H307.435V356.68Z" fill="white"/>
                <path opacity="0.2" d="M107.371 346.731H106.29V362.517H107.371V346.731Z" fill="white"/>
                <path opacity="0.2" d="M107.371 341.068H106.29V224.352H307.435V225.437H107.371V341.068Z" fill="white"/>
                <path opacity="0.2" d="M307.435 337.498H110.744V228.822H307.435V229.635H111.555V336.685H307.435V337.498Z" fill="white"/>
                <path opacity="0.2" d="M304.657 334.309H114.279V232.022H304.657V334.309ZM115.089 333.495H303.846V232.836H115.089V333.495Z" fill="white"/>
                <path opacity="0.2" d="M301.479 331.119H257.884V235.212H301.479V331.119ZM258.695 330.306H300.668V236.026H258.695V330.306Z" fill="white"/>
                <path opacity="0.2" d="M255.549 331.119H211.954V235.212H255.549V331.119ZM212.765 330.306H254.738V236.026H212.765V330.306Z" fill="white"/>
                <path opacity="0.2" d="M206.981 331.119H163.386V235.212H206.981V331.119ZM164.197 330.306H206.171V236.026H164.197V330.306Z" fill="white"/>
                <path opacity="0.2" d="M161.052 331.119H117.457V235.212H161.052V331.119ZM118.268 330.306H160.241V236.026H118.268V330.306Z" fill="white"/>
                <path opacity="0.2" d="M307.435 172.514H276.4V173.599H307.435V172.514Z" fill="white"/>
                <path opacity="0.2" d="M261.451 172.514H52.5129V173.599H261.451V172.514Z" fill="white"/>
                <path opacity="0.2" d="M209.695 232.424H208.884V333.897H209.695V232.424Z" fill="white"/>
                <path opacity="0.2" d="M349.203 195.84H348.122V362.517H349.203V195.84Z" fill="white"/>
                <path opacity="0.2" d="M402.764 174.489H353.591V175.574H402.764V174.489Z" fill="white"/>
                <path opacity="0.2" d="M407.683 179.436H348.662V180.521H407.683V179.436Z" fill="white"/>
                <path opacity="0.2" d="M402.764 129.128H382.431V93.8679H383.512V128.043H402.764V129.128Z" fill="white"/>
                <path opacity="0.2" d="M377.502 129.128H353.591V128.043H376.421V98.967H377.502V129.128Z" fill="white"/>
                <path opacity="0.2" d="M383.512 175.031H382.431V132.99H402.764V134.075H383.512V175.031Z" fill="white"/>
                <path opacity="0.2" d="M377.502 175.031H376.421V134.075H353.591V132.99H377.502V175.031Z" fill="white"/>
                <path opacity="0.2" d="M403.305 175.031H402.224V78.2557L354.132 119.027V175.031H353.051V118.517L353.246 118.355L403.305 75.9231V175.031Z" fill="white"/>
                <path opacity="0.2" d="M408.223 179.979H407.142V69.1968L349.203 118.311V179.979H348.122V117.801L407.337 67.6128L407.65 67.9925L408.223 67.9491V179.979Z" fill="white"/>
                <path opacity="0.2" d="M598.612 288.037H522.318V223.907H598.612V288.037ZM523.399 286.952H597.531V224.992H523.399V286.952Z" fill="white"/>
                <path opacity="0.2" d="M595.358 285.487H525.572V226.294H595.358V285.487ZM526.652 284.402H594.277V227.379H526.652V284.402Z" fill="white"/>
                <path opacity="0.2" d="M558.725 282.233H528.998V229.549H558.725V282.233ZM530.079 281.148H557.644V230.634H530.079V281.148Z" fill="white"/>
                <path opacity="0.2" d="M591.337 282.233H561.611V229.549H591.337V282.233ZM562.692 281.148H590.256V230.634H562.692V281.148Z" fill="white"/>
                <path opacity="0.2" d="M558.725 226.912H557.644V230.091H558.725V226.912Z" fill="white"/>
                <path opacity="0.2" d="M558.725 281.766H557.644V285.021H558.725V281.766Z" fill="white"/>
                <path opacity="0.2" d="M601.509 221.433H516.535V187.258H601.509V221.433ZM517.616 220.348H600.428V188.343H517.616V220.348Z" fill="white"/>
                <path opacity="0.2" d="M600.374 210.758H517.075V211.842H600.374V210.758Z" fill="white"/>
                <path opacity="0.2" d="M600.374 208.414H517.075V209.499H600.374V208.414Z" fill="white"/>
                <g opacity="0.2">
                    <path d="M416.103 54.8865H415.563V362.517H416.103V54.8865Z" fill="white"/>
                    <path d="M419 52.4346H418.46V362.517H419V52.4346Z" fill="white"/>
                    <path d="M421.886 49.9827H421.346V362.517H421.886V49.9827Z" fill="white"/>
                    <path d="M424.783 47.5305H424.243V362.517H424.783V47.5305Z" fill="white"/>
                    <path d="M427.68 45.0789H427.14V362.517H427.68V45.0789Z" fill="white"/>
                    <path d="M430.567 42.627H430.026V362.517H430.567V42.627Z" fill="white"/>
                    <path d="M433.464 40.1748H432.923V362.517H433.464V40.1748Z" fill="white"/>
                    <path d="M436.35 37.7229H435.809V362.517H436.35V37.7229Z" fill="white"/>
                    <path d="M439.247 35.2712H438.706V362.517H439.247V35.2712Z" fill="white"/>
                    <path d="M442.144 32.8191H441.603V362.517H442.144V32.8191Z" fill="white"/>
                    <path d="M445.029 30.3672H444.489V362.517H445.029V30.3672Z" fill="white"/>
                    <path d="M447.927 27.915H447.386V362.517H447.927V27.915Z" fill="white"/>
                    <path d="M450.813 25.4634H450.272V362.517H450.813V25.4634Z" fill="white"/>
                    <path d="M453.71 23.0115H453.169V362.517H453.71V23.0115Z" fill="white"/>
                    <path d="M456.607 20.5593H456.066V362.517H456.607V20.5593Z" fill="white"/>
                    <path d="M459.493 22.1543H458.952V362.517H459.493V22.1543Z" fill="white"/>
                    <path d="M462.39 24.6062H461.849V362.517H462.39V24.6062Z" fill="white"/>
                    <path d="M465.276 27.0364H464.735V362.517H465.276V27.0364Z" fill="white"/>
                    <path d="M468.173 29.4883H467.633V362.517H468.173V29.4883Z" fill="white"/>
                    <path d="M471.07 31.9404H470.53V362.517H471.07V31.9404Z" fill="white"/>
                    <path d="M473.956 34.3706H473.416V362.517H473.956V34.3706Z" fill="white"/>
                    <path d="M476.853 36.8225H476.312V362.517H476.853V36.8225Z" fill="white"/>
                    <path d="M479.739 39.2634H479.199V362.517H479.739V39.2634Z" fill="white"/>
                    <path d="M482.636 41.7046H482.095V362.517H482.636V41.7046Z" fill="white"/>
                    <path d="M485.533 44.1567H484.993V362.517H485.533V44.1567Z" fill="white"/>
                    <path d="M488.419 46.5977H487.879V362.517H488.419V46.5977Z" fill="white"/>
                    <path d="M491.316 49.0388H490.776V362.517H491.316V49.0388Z" fill="white"/>
                    <path d="M494.202 51.48H493.662V362.517H494.202V51.48Z" fill="white"/>
                    <path d="M497.099 53.9316H496.559V362.517H497.099V53.9316Z" fill="white"/>
                    <path d="M499.996 56.3728H499.456V362.517H499.996V56.3728Z" fill="white"/>
                    <path d="M502.883 58.8137H502.342V362.517H502.883V58.8137Z" fill="white"/>
                    <path d="M505.779 61.2659H505.239V362.517H505.779V61.2659Z" fill="white"/>
                    <path d="M508.666 63.707H508.125V362.517H508.666V63.707Z" fill="white"/>
                    <path d="M511.562 66.1479H511.022V362.517H511.562V66.1479Z" fill="white"/>
                    <path d="M514.459 68.5999H513.919V362.517H514.459V68.5999Z" fill="white"/>
                    <path d="M517.346 71.041H516.805V362.517H517.346V71.041Z" fill="white"/>
                    <path d="M520.242 73.4819H519.702V187.801H520.242V73.4819Z" fill="white"/>
                    <path d="M520.242 220.891H519.702V362.517H520.242V220.891Z" fill="white"/>
                    <path d="M523.129 75.9231H522.588V187.801H523.129V75.9231Z" fill="white"/>
                    <path d="M523.129 220.891H522.588V224.439H523.129V220.891Z" fill="white"/>
                    <path d="M523.129 287.484H522.588V362.517H523.129V287.484Z" fill="white"/>
                    <path d="M526.026 78.3752H525.485V187.801H526.026V78.3752Z" fill="white"/>
                    <path d="M526.026 220.891H525.485V224.439H526.026V220.891Z" fill="white"/>
                    <path d="M526.026 287.484H525.485V362.517H526.026V287.484Z" fill="white"/>
                    <path d="M528.923 80.8162H528.382V187.801H528.923V80.8162Z" fill="white"/>
                    <path d="M528.923 220.891H528.382V224.439H528.923V220.891Z" fill="white"/>
                    <path d="M528.923 287.484H528.382V362.517H528.923V287.484Z" fill="white"/>
                    <path d="M531.809 83.2573H531.268V187.801H531.809V83.2573Z" fill="white"/>
                    <path d="M531.809 220.891H531.268V224.439H531.809V220.891Z" fill="white"/>
                    <path d="M531.809 287.484H531.268V362.517H531.809V287.484Z" fill="white"/>
                    <path d="M534.706 85.7092H534.165V187.801H534.706V85.7092Z" fill="white"/>
                    <path d="M534.706 220.891H534.165V224.439H534.706V220.891Z" fill="white"/>
                    <path d="M534.706 287.484H534.165V362.517H534.706V287.484Z" fill="white"/>
                    <path d="M537.592 88.1394H537.051V187.801H537.592V88.1394Z" fill="white"/>
                    <path d="M537.592 220.891H537.051V224.439H537.592V220.891Z" fill="white"/>
                    <path d="M537.592 287.484H537.051V362.517H537.592V287.484Z" fill="white"/>
                    <path d="M540.489 90.5913H539.948V187.801H540.489V90.5913Z" fill="white"/>
                    <path d="M540.489 220.891H539.948V224.439H540.489V220.891Z" fill="white"/>
                    <path d="M540.489 287.484H539.948V362.517H540.489V287.484Z" fill="white"/>
                    <path d="M543.386 93.0435H542.845V187.801H543.386V93.0435Z" fill="white"/>
                    <path d="M543.386 220.891H542.845V224.439H543.386V220.891Z" fill="white"/>
                    <path d="M543.386 287.484H542.845V362.517H543.386V287.484Z" fill="white"/>
                    <path d="M546.272 95.4736H545.732V187.801H546.272V95.4736Z" fill="white"/>
                    <path d="M546.272 220.891H545.732V224.439H546.272V220.891Z" fill="white"/>
                    <path d="M546.272 287.484H545.732V362.517H546.272V287.484Z" fill="white"/>
                    <path d="M549.169 97.9255H548.628V187.801H549.169V97.9255Z" fill="white"/>
                    <path d="M549.169 220.891H548.628V224.439H549.169V220.891Z" fill="white"/>
                    <path d="M549.169 287.484H548.628V362.517H549.169V287.484Z" fill="white"/>
                    <path d="M552.055 100.366H551.515V187.801H552.055V100.366Z" fill="white"/>
                    <path d="M552.055 220.891H551.515V224.439H552.055V220.891Z" fill="white"/>
                    <path d="M552.055 287.484H551.515V362.517H552.055V287.484Z" fill="white"/>
                    <path d="M554.952 102.808H554.412V187.801H554.952V102.808Z" fill="white"/>
                    <path d="M554.952 220.891H554.412V224.439H554.952V220.891Z" fill="white"/>
                    <path d="M554.952 287.484H554.412V362.517H554.952V287.484Z" fill="white"/>
                    <path d="M557.849 105.26H557.309V187.801H557.849V105.26Z" fill="white"/>
                    <path d="M557.849 220.891H557.309V224.439H557.849V220.891Z" fill="white"/>
                    <path d="M557.849 287.484H557.309V362.517H557.849V287.484Z" fill="white"/>
                    <path d="M560.735 107.7H560.195V187.801H560.735V107.7Z" fill="white"/>
                    <path d="M560.735 220.891H560.195V224.439H560.735V220.891Z" fill="white"/>
                    <path d="M560.735 287.484H560.195V362.517H560.735V287.484Z" fill="white"/>
                    <path d="M563.632 110.142H563.092V187.801H563.632V110.142Z" fill="white"/>
                    <path d="M563.632 220.891H563.092V224.439H563.632V220.891Z" fill="white"/>
                    <path d="M563.632 287.484H563.092V362.517H563.632V287.484Z" fill="white"/>
                    <path d="M566.518 112.583H565.978V187.801H566.518V112.583Z" fill="white"/>
                    <path d="M566.518 220.891H565.978V224.439H566.518V220.891Z" fill="white"/>
                    <path d="M566.518 287.484H565.978V362.517H566.518V287.484Z" fill="white"/>
                    <path d="M569.415 115.035H568.875V187.801H569.415V115.035Z" fill="white"/>
                    <path d="M569.415 220.891H568.875V224.439H569.415V220.891Z" fill="white"/>
                    <path d="M569.415 287.484H568.875V362.517H569.415V287.484Z" fill="white"/>
                    <path d="M572.312 117.476H571.772V187.801H572.312V117.476Z" fill="white"/>
                    <path d="M572.312 220.891H571.772V224.439H572.312V220.891Z" fill="white"/>
                    <path d="M572.312 287.484H571.772V362.517H572.312V287.484Z" fill="white"/>
                    <path d="M575.198 119.917H574.658V187.801H575.198V119.917Z" fill="white"/>
                    <path d="M575.198 220.891H574.658V224.439H575.198V220.891Z" fill="white"/>
                    <path d="M575.198 287.484H574.658V362.517H575.198V287.484Z" fill="white"/>
                    <path d="M578.095 122.369H577.555V187.801H578.095V122.369Z" fill="white"/>
                    <path d="M578.095 220.891H577.555V224.439H578.095V220.891Z" fill="white"/>
                    <path d="M578.095 287.484H577.555V362.517H578.095V287.484Z" fill="white"/>
                    <path d="M580.982 124.81H580.441V187.801H580.982V124.81Z" fill="white"/>
                    <path d="M580.982 220.891H580.441V224.439H580.982V220.891Z" fill="white"/>
                    <path d="M580.982 287.484H580.441V362.517H580.982V287.484Z" fill="white"/>
                    <path d="M583.879 127.251H583.338V187.801H583.879V127.251Z" fill="white"/>
                    <path d="M583.879 220.891H583.338V224.439H583.879V220.891Z" fill="white"/>
                    <path d="M583.879 287.484H583.338V362.517H583.879V287.484Z" fill="white"/>
                    <path d="M586.775 129.703H586.235V187.801H586.775V129.703Z" fill="white"/>
                    <path d="M586.775 220.891H586.235V224.439H586.775V220.891Z" fill="white"/>
                    <path d="M586.775 287.484H586.235V362.517H586.775V287.484Z" fill="white"/>
                    <path d="M589.662 132.144H589.121V187.801H589.662V132.144Z" fill="white"/>
                    <path d="M589.662 220.891H589.121V224.439H589.662V220.891Z" fill="white"/>
                    <path d="M589.662 287.484H589.121V362.517H589.662V287.484Z" fill="white"/>
                    <path d="M592.559 134.585H592.018V187.801H592.559V134.585Z" fill="white"/>
                    <path d="M592.559 220.891H592.018V224.439H592.559V220.891Z" fill="white"/>
                    <path d="M592.559 287.484H592.018V362.517H592.559V287.484Z" fill="white"/>
                    <path d="M595.445 137.026H594.904V187.801H595.445V137.026Z" fill="white"/>
                    <path d="M595.445 220.891H594.904V224.439H595.445V220.891Z" fill="white"/>
                    <path d="M595.445 287.484H594.904V362.517H595.445V287.484Z" fill="white"/>
                    <path d="M598.342 139.478H597.801V187.801H598.342V139.478Z" fill="white"/>
                    <path d="M598.342 220.891H597.801V362.517H598.342V220.891Z" fill="white"/>
                    <path d="M601.239 141.919H600.698V362.517H601.239V141.919Z" fill="white"/>
                    <path d="M604.125 144.36H603.584V362.517H604.125V144.36Z" fill="white"/>
                    <path d="M607.022 146.812H606.481V362.517H607.022V146.812Z" fill="white"/>
                    <path d="M609.919 149.253H609.378V362.517H609.919V149.253Z" fill="white"/>
                    <path d="M612.805 151.694H612.264V362.517H612.805V151.694Z" fill="white"/>
                    <path d="M615.702 154.146H615.161V362.517H615.702V154.146Z" fill="white"/>
                    <path d="M618.588 156.577H618.048V362.517H618.588V156.577Z" fill="white"/>
                    <path d="M621.485 159.029H620.945V362.517H621.485V159.029Z" fill="white"/>
                    <path d="M624.382 161.48H623.841V362.517H624.382V161.48Z" fill="white"/>
                    <path d="M627.268 163.911H626.728V362.517H627.268V163.911Z" fill="white"/>
                    <path d="M630.165 166.363H629.625V362.517H630.165V166.363Z" fill="white"/>
                    <path d="M633.051 168.803H632.511V362.517H633.051V168.803Z" fill="white"/>
                    <path d="M635.948 171.245H635.408V362.517H635.948V171.245Z" fill="white"/>
                    <path d="M638.845 173.697H638.305V362.517H638.845V173.697Z" fill="white"/>
                    <path d="M641.731 176.138H641.191V362.517H641.731V176.138Z" fill="white"/>
                    <path d="M644.628 178.579H644.088V362.517H644.628V178.579Z" fill="white"/>
                    <path d="M647.515 181.02H646.974V362.517H647.515V181.02Z" fill="white"/>
                    <path d="M650.412 183.472H649.871V362.517H650.412V183.472Z" fill="white"/>
                    <path d="M653.308 185.924H652.768V362.517H653.308V185.924Z" fill="white"/>
                    <path d="M656.195 188.365H655.654V362.517H656.195V188.365Z" fill="white"/>
                </g>
                <path opacity="0.2" d="M307.975 146.096H306.894V185.24H307.975V146.096Z" fill="white"/>
            </svg>

        </div>
        <div id="show-products" class="mt-12 hidden transition-[height] duration-300 ease-in-out h-0 ">
            <div id="splide3" class="splide">
                <div class="splide__track">
                    <ul class="splide__list ">
                        {products.map((slide, index) => (
                                <div class="splide__slide flex">
                                        <div class="w-1/2 py-3 border-gray-500 border-b ">
                                            <h1 class="text-white text-2xl font-medium font-['Objectivity'] leading-relaxed">
                                                {slide.title}</h1>
                                            <p class=" my-4 text-white text-xs font-light font-['Objectivity'] leading-none">
                                                {slide.short}</p>
                                            <div class="">
                                                <p class="text-neutral-900 text-white  text-xs font-light leading-tight">
                                                    {slide.description}
                                                </p>
                                            </div>
                                            <div class="h-5 px-2.5 mt-3 rounded-sm border border-[#fff] justify-start items-center gap-2.5 inline-flex">
                                                <div class="text-[#fff] text-xs font-normal font-['Objectivity'] leading-3">Zobacz produkt</div>
                                            </div>                                        </div>
                                        <div class="w-1/2 bg-no-repeat bg-center bg-contain" style={{ backgroundImage: `url(${slide.image})` }}>>

                                        </div>
                                </div>
                        ))}
                    </ul>
                </div>
            </div>
            <div class="w-full  py-6 mx-auto max-w-[1400px] relative">
                <!-- Progress Text -->
                <div class=" w-1/2 ">
                    <div class="progress-bar2 w-full">
                        <div class="progress-bar__fill2"></div>
                    </div>
                    <div class="custom-controls2 w-full flex flex-wrap justify-between">
                        <div class="progress-text">
                            <span class="current-slide2">1</span> / <span class="total-slides2">5</span>
                        </div>
                        <button class="splide-next2"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="Frame">
                                <path id="Vector" d="M3.33789 7C5.06694 4.01099 8.29866 2 12.0001 2C17.5229 2 22.0001 6.47715 22.0001 12C22.0001 17.5228 17.5229 22 12.0001 22C8.29866 22 5.06694 19.989 3.33789 17M12 16L16 12M16 12L12 8M16 12H2" stroke="#A3A3A3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                        </svg>
                        </button>
                    </div>
                </div>
            </div>
    </div>





    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const tooltipTriggers = document.querySelectorAll('.tooltip-trigger');
            tooltipTriggers.forEach(trigger => {
                trigger.addEventListener('mouseover', function () {
                    const tooltip = this.nextElementSibling;
                    tooltip.classList.remove('hidden');
                });

                trigger.addEventListener('mouseout', function () {
                    const tooltip = this.nextElementSibling;
                    tooltip.classList.add('hidden');
                });
            });
        });
    </script>



<script>
    // Pobieranie elementów z DOM
    const searchOpen = document.getElementById('search-open');
    const searchClose = document.getElementById('search-close');
    const searchResult = document.getElementById('search_result'); // Zakładając, że taki element istnieje

    // Dodawanie nasłuchiwacza kliknięcia do przycisku toggle
    document.getElementById('search-toggle').addEventListener('click', function(event) {
        event.preventDefault(); // Zapobiega domyślnemu działaniu kliknięcia (np. przeładowaniu strony)

        // Przełączanie widoczności ikon
        if (searchOpen.classList.contains('hidden')) {
            searchOpen.classList.remove('hidden'); // Pokazuje ikonę otwierania
            searchClose.classList.add('hidden'); // Ukrywa ikonę zamykania
        } else {
            searchOpen.classList.add('hidden'); // Ukrywa ikonę otwierania
            searchClose.classList.remove('hidden'); // Pokazuje ikonę zamykania
        }

        // Przełączanie animacji kontenera wyszukiwania
        if (searchResult && searchResult.classList.contains('search-open')) {
            searchResult.style.height = '0'; // Ustawiamy wysokość kontenera na 0, aby ukryć zawartość
            setTimeout(() => {
                searchResult.classList.remove('search-open'); // Po 300 ms usuwamy klasę 'search-open'
            }, 300); // Opóźnienie 300 ms, aby poczekać na zakończenie animacji
        } else if (searchResult) {
            searchResult.classList.add('search-open'); // Dodajemy klasę 'search-open'
            searchResult.style.height = '100vh'; // Ustawiamy wysokość kontenera na 80vh, aby pokazać zawartość
        }
    });
</script>

        <script>
            if (!window.location.pathname.includes('/produkty-single')) {
                document.addEventListener('scroll', function() {
                    const nav = document.querySelector('nav');

                    if (window.scrollY > 100) {
                        nav.classList.add('nav-scrolled');
                    } else {
                        nav.classList.remove('nav-scrolled');
                    }
                });
            }
        </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var trigger = document.getElementById('Nasze produkty');
            var subMenu = document.getElementById('sub_menu');
            var showProducts = document.getElementById('show-products');
            var searchClose = document.getElementById('search-close');
            var searchOpen = document.getElementById('search-open');
            var mainCategories = document.getElementById('main-categories');

            trigger.addEventListener('click', function () {
                if (subMenu.classList.contains('hidden')) {
                    // Show sub-menu
                    subMenu.classList.remove('hidden');
                    subMenu.style.height = 'auto'; // Set height to auto to allow content to define the height
                    var fullHeight = subMenu.scrollHeight + 'px'; // Get the height of the content
                    subMenu.style.height = '0'; // Set initial height to 0 for transition
                    requestAnimationFrame(() => {
                        subMenu.style.height = fullHeight; // Set height to full content height
                    });

                    // Show show-products
                    showProducts.classList.remove('hidden');
                } else {
                    // Hide sub-menu
                    subMenu.style.height = '0'; // Animate height to 0
                    setTimeout(() => {
                        subMenu.classList.add('hidden'); // Hide after animation
                    }, 300);

                    // Hide show-products
                    showProducts.classList.add('hidden');
                }
            });

            searchClose.addEventListener('click', function () {
                // Hide sub-menu
                subMenu.style.height = '0'; // Animate height to 0
                setTimeout(() => {
                    subMenu.classList.add('hidden'); // Hide after animation
                }, 300);

                // Hide show-products
                showProducts.classList.add('hidden');
            });

            searchOpen.addEventListener('click', function () {
                if (mainCategories.classList.contains('hidden')) {
                    // Show main-categories
                    mainCategories.classList.remove('hidden');
                    mainCategories.style.height = 'auto'; // Set height to auto to allow content to define the height
                    var fullHeight = mainCategories.scrollHeight + 'px'; // Get the height of the content
                    mainCategories.style.height = '0'; // Set initial height to 0 for transition
                    requestAnimationFrame(() => {
                        mainCategories.style.height = fullHeight; // Set height to full content height
                    });
                }
            });

            searchClose.addEventListener('click', function () {
                // Hide main-categories
                mainCategories.style.height = '0'; // Animate height to 0
                setTimeout(() => {
                    mainCategories.classList.add('hidden'); // Hide after animation
                }, 100);
            });
        });
    </script>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const searchOpenButton = document.getElementById('search-open');
                const menuPlaceholder = document.getElementById('menu_placeholder');
                const searchCloseButton = document.getElementById('search-close');
                const naszeProduktyButton = document.getElementById('Nasze produkty');

                // Funkcja pokazująca menu z opóźnieniem
                function showMenuWithDelay() {
                    setTimeout(() => {
                        menuPlaceholder.classList.remove('hidden');
                        menuPlaceholder.classList.add('block'); // Tailwind CSS klasa dla widoczności
                    }, 100); // Opóźnienie 100 ms
                }

                // Funkcja ukrywająca menu
                function hideMenu() {
                    menuPlaceholder.classList.remove('block');
                    menuPlaceholder.classList.add('hidden');
                }

                // Obsługa kliknięcia przycisku "search-open"
                searchOpenButton.addEventListener('click', showMenuWithDelay);

                // Obsługa kliknięcia przycisku "Nasze produkty" i "search-close"
                searchCloseButton.addEventListener('click', hideMenu);
                naszeProduktyButton.addEventListener('click', hideMenu);
            });

        </script>
